
{% extends "header.html" %}
{% block content %}
{% load staticfiles %}
    <aside id="fh5co-hero" class="js-fullheight" >
        <div class="flexslider2" style="height:calc(100% - 80px) !important;">
            <ul class="slides" style="height:100%;">
            <li style="background-image: url({% static 'usa_website/images/meme/sheepinav/01.jpg' %});"></li>
            <li style="background-image: url({% static 'usa_website/images/meme/sheepinav/02.jpg' %});"></li>
            <li style="background-image: url({% static 'usa_website/images/meme/sheepinav/03.jpg' %});"></li>
            <li style="background-image: url({% static 'usa_website/images/meme/sheepinav/04.jpg' %});"></li>
            <li style="background-image: url({% static 'usa_website/images/meme/sheepinav/05.jpg' %});"></li>
            <li style="background-image: url({% static 'usa_website/images/meme/sheepinav/06.jpg' %});"></li>
            <li style="background-image: url({% static 'usa_website/images/meme/sheepinav/07.jpg' %});"></li>
            <li style="background-image: url({% static 'usa_website/images/meme/sheepinav/08.jpg' %});"></li>
            <li style="background-image: url({% static 'usa_website/images/meme/sheepinav/09.jpg' %});"></li>
            <li style="background-image: url({% static 'usa_website/images/meme/sheepinav/10.jpg' %});"></li>
            <li style="background-image: url({% static 'usa_website/images/meme/sheepinav/11.jpg' %});"></li>
            <li style="background-image: url({% static 'usa_website/images/meme/sheepinav/12.jpg' %});"></li>
            <li style="background-image: url({% static 'usa_website/images/meme/sheepinav/13.jpg' %});"></li>
            <li style="background-image: url({% static 'usa_website/images/meme/sheepinav/14.jpg' %});"></li>
            <li style="background-image: url({% static 'usa_website/images/meme/sheepinav/15.jpg' %});"></li>
            <li style="background-image: url({% static 'usa_website/images/meme/sheepinav/16.jpg' %});"></li>
            <li style="background-image: url({% static 'usa_website/images/meme/sheepinav/17.jpg' %});"></li>
            <li style="background-image: url({% static 'usa_website/images/meme/sheepinav/18.jpg' %});"></li>
            <li style="background-image: url({% static 'usa_website/images/meme/sheepinav/19.jpg' %});"></li>
            <li style="background-image: url({% static 'usa_website/images/meme/sheepinav/20.jpg' %});"></li>
            <li style="background-image: url({% static 'usa_website/images/meme/sheepinav/21.jpg' %});"></li>
            <li style="background-image: url({% static 'usa_website/images/meme/sheepinav/22.jpg' %});"></li>
            <li style="background-image: url({% static 'usa_website/images/meme/sheepinav/23.jpg' %});"></li>
            <li style="background-image: url({% static 'usa_website/images/meme/sheepinav/24.jpg' %});"></li>
            </ul>
        </div>
    </aside>

    <center><p>Bromance reacts only by :ayu:</p></center>

    {% endblock %}
