
{% extends "blog/dataconsulting/dc_header.html" %}
{% block content %}
{% load staticfiles %}

<style>
	figure img {
		display: block;
		margin: 0 auto;
		width: 50%;
		text-align: center;
	}
	figcaption {
		text-align: center;
	}
</style>
<div class="container-fluid" >
	<h3 class="title toc-ignore">Data Secrets</h3>
	<h4><span style="color: #D5518D" id="author">PM:</span><span style="color: #3E95D7" id="name"> Lucas Bandarkar</span></h4>
  <p>
    We will be creating a method to automatically model how customer data flows
    through a company's sytems, how it is used, and potentially how it leaves to
    third parties. We will use NLP and machine learning to find relationships
    between data and track its spread across repositories.
  </p>
</div>
{% endblock %}
