
{% extends "blog/dataconsulting/dc_header.html" %}
{% block content %}
{% load staticfiles %}

<style>
	figure img {
		display: block;
		margin: 0 auto;
		width: 50%;
		text-align: center;
	}
	figcaption {
		text-align: center;
	}
</style>
<div class="container-fluid" >
	<h3 class="title toc-ignore">Express Scripts</h3>
	<h4><span style="color: #D5518D" id="author">PM:</span><span style="color: #3E95D7" id="name"> Omkar Waingankar</span></h4>
  <p>
  <ul>
		<li>Leveraged clustering algorithms to predict STAR Rating cutpoints</li>
		<li>Achieved peak accuracy and performance through LDA & QDA</li>
		<li>Explored demographic and pharmacy network data to tailor actionable insights</li>
	</ul>
  </p>
</div>
{% endblock %}
