{% extends "blog/rp/rp_header.html" %}
{% block content %}
{% load staticfiles %}

<style>
	figure img {
		display: block;
		margin: 0 auto;
		width: 50%;
		text-align: center;
	}
	figcaption {
		text-align: center;
	}
</style>

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'usa_website/css/blogheader.css' %}" />
  <script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</head>

<div class="container-fluid" >
	  <h1>Express Scripts</h1>
	  <h2>
	    <img class = "icon" src="/static/usa_website/images/logos/logo_square.png" style='vertical-align: middle'></img>
	    <span style="color: gray" id="author">PM: </span>
	    <span style="color: gray" id="name">Omkar Waingankar</span>
	    <span style="color: gray" id="date"></span>
	  </h3>

	  <img class = "titlePic" src="{% static 'usa_website/images/dataconsulting/sp19/express_scripts2.png' %}" style="margin:auto; margin-bottom:20px;"></img><br><br>

	  <h3>Project Description</h3>

  <p>
  <ul>
		<li>Leveraged clustering algorithms to predict STAR Rating cutpoints</li>
		<li>Achieved peak accuracy and performance through LDA & QDA</li>
		<li>Explored demographic and pharmacy network data to tailor actionable insights</li>
	</ul>
  </p>
</div>
{% endblock %}
