
{% extends "blog/dataconsulting/dc_header.html" %}
{% block content %}
{% load staticfiles %}

<style>
	figure img {
		display: block;
		margin: 0 auto;
		width: 50%;
		text-align: center;
	}
	figcaption {
		text-align: center;
	}
</style>
<div class="container-fluid" >
	<h3 class="title toc-ignore">Grandmark International</h3>
	<h4><span style="color: #D5518D" id="author">PM:</span><span style="color: #3E95D7" id="name"> Ethan Ho</span></h4>
  <p>
    Grandmark is a top-down company that is responsible for supplying most of the
    automotive industry in Southern Africa and Asia. We will create a demand
    forecasting for all their skews of car parts to improve their inventory management.
  </p>
</div>
{% endblock %}
