{% extends "blog/rp/rp_header.html" %}
{% block content %}
{% load staticfiles %}

<style>
	figure img {
		display: block;
		margin: 0 auto;
		width: 50%;
		text-align: center;
	}
	figcaption {
		text-align: center;
	}
</style>

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'usa_website/css/blogheader.css' %}" />
  <script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</head>

<div class="container-fluid" >
	  <h1>Grandmark International</h1>
	  <h2>
	    <img class = "icon" src="/static/usa_website/images/logos/logo_square.png" style='vertical-align: middle'></img>
	    <span style="color: gray" id="author">PM: </span>
	    <span style="color: gray" id="name">Ethan Ho</span>
		<img class = "icon" src="/static/usa_website/images/logos/logo_square.png" style='vertical-align: middle'></img>
	    <span style="color: gray" id="author">Consultants </span>
	    <span style="color: gray" id="name">Angela Guan, Roland Chin, Saumya Choudhary, Calvin Grewal, Ruhi Doshi, Miranda Dong, Joseph Yu, Sharan Kumar</span>
	    <span style="color: gray" id="date"></span>
	  </h3>

	  <img class = "titlePic" src="{% static 'usa_website/images/dataconsulting/fa19/grandmark2.jpg' %}" style="margin:auto; margin-bottom:20px;"></img><br><br>

	  <h3>Project Description</h3>
  <p>
    <a href="https://www.grandmark.co.za/">Grandmark</a> is a top-down company
    that is responsible for supplying most of the automotive industry in Southern
    Africa and Asia. We will create a demand forecasting for all their skews of car
    parts to improve their inventory management.
  </p>
</div>
{% endblock %}
