
{% extends "blog/dataconsulting/dc_header.html" %}
{% block content %}
{% load staticfiles %}

<style>
	figure img {
		display: block;
		margin: 0 auto;
		width: 50%;
		text-align: center;
	}
	figcaption {
		text-align: center;
	}
</style>
<div class="container-fluid" >
	<h3 class="title toc-ignore">Metropolitan Transportation Commission</h3>
	<h4><span style="color: #D5518D" id="author">PM:</span><span style="color: #3E95D7" id="name"> Junseo Park</span></h4>
  <p>
  Working with the Metropolitan Transportation Commission on the Plan Bay Area 2050 project,
	our team performed EDA and analysis on economic, demographic, and housing metrics
	using forecasted data on the possible futures the region could experience in the next 30 years.  Using large scale datasets, we analyzed how transportation and the changing landscape of the Bay Area would mutually affect each other with the goal of presenting our insights in an easily usable and accessible map.
  </p>
</div>
{% endblock %}
