{% extends "blog/rp/rp_header.html" %}
{% block content %}
{% load staticfiles %}

<style>
	figure img {
		display: block;
		margin: 0 auto;
		width: 50%;
		text-align: center;
	}
	figcaption {
		text-align: center;
	}
</style>

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'usa_website/css/blogheader.css' %}" />
  <script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</head>

<div class="container-fluid" >
      <h1>Pinxuan Intelligence</h1>
	  <h2>Classification on Vehicle Makes and Models</h2>
	    <img class = "icon" src="/static/usa_website/images/logos/logo_square.png" style='vertical-align: middle'></img>
	    <span style="color: gray" id="author">PM: </span>
	    <span style="color: gray" id="name">Pengyuan Chen + Amanda Ma</span>
	  </h3>

	  <img class = "titlePic" src="{% static 'usa_website/images/dataconsulting/sp20/pinxuan.png' %}" style="margin:auto; margin-bottom:20px;"></img><br><br>

	  <h3>Project Description</h3>
        <p>Founded by a Cal alumni who graduated recently, Pinxuan Intelligence is a startup that offers a broad variety of computer vision consulting services to clients, involving fields such as artificial intelligence, camera surveillance and LCD/LED screen systems. The goal of the project is to improve their classification model, which classifies cars by make and model from car images. The first step would be to determine the make of each car. Then for each car of a particular make, classify into one of the models of that make. There are roughly 1000 classes! We aim to improve the classification accuracy of the existing model from 80% to 95%.
        </p>
</div>
{% endblock %}
