{% extends "blog/rp/rp_header.html" %}
{% block content %}
{% load staticfiles %}

<style>
	figure img {
		display: block;
		margin: 0 auto;
		width: 50%;
		text-align: center;
	}
	figcaption {
		text-align: center;
	}
</style>

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'usa_website/css/blogheader.css' %}" />
  <script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</head>

<div class="container-fluid" >
	  <h1>Trace Data</h1>
	  <h2>
	    <img class = "icon" src="/static/usa_website/images/logos/logo_square.png" style='vertical-align: middle'></img>
	    <span style="color: gray" id="author">PM: </span>
	    <span style="color: gray" id="name">Luke Dai</span>
	    <img class = "icon" src="/static/usa_website/images/logos/logo_square.png" style='vertical-align: middle'></img>
	    <span style="color: gray" id="author">Consultants: </span>
	    <span style="color: gray" id="name">Amal Bhatnagar, Amanda Ma, Michael Chau, Pengyuan Chen, Philip Kabranov, Sahil Rao, Yehchan Yoo</span>
	    <span style="color: gray" id="date"></span></h2>

	  <img class = "titlePic" src="{% static 'usa_website/images/dataconsulting/fa19/trace_data.png' %}" style="margin:auto; margin-bottom:20px;"></img><br><br>

	  <h3>Project Description</h3>
	  <p>
	    <a href="https://www.tracedata.io/">Trace Data</a> is a startup helping companies
	    secure and monitor their data with the use of Artificial Intelligence. We will
	    learn how machines can learn the contents of company data by using Natural Language Processing.
	  </p>
<h3>Presentation</h3>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQ0jET3Yb1jqVmlbWk5J2y8Y0eMfZ0BbAPFOIUW4nb64lCQJFd2tEOqF8a_PXaEjg804QQ_dtNHNFeZ/embed?start=false&loop=true&delayms=15000" frameborder="0" width="100%" height="500" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>
{% endblock %}
