{% extends "interviews/interview_header.html" %}
{% block content %}
{% load staticfiles %}

<style>
  .interview{
    margin-top:30px;
  }
  .interviewer{
    font-size:20px;
    font-weight:bold;
    margin-bottom:10px;
  }
  .interviewee{
    font-size:20px;
    margin-bottom:30px;
  }
</style>

<title> Calvin Chen: “…if you ask people what part of this x club you
like the most, it’s nice to hear them say community.”</title>
<h2>Calvin Chen: “…if you ask people what part of this x club you
like the most, it’s nice to hear them say community.””</h2>
  <h3>
    <span style="color: #D5518D" id="author">Interviewed By </span>
    <span style="color: #3E95D7" id="name">Justin Le </span>
    <span style="color: #D5518D" id="author">on April 18th, 2019</span>
  </h3>
  <br />

<div style="display:flex">
  <img src="{% static 'usa_website/images/interviews/spring_2019/rachel_li.jpeg' %}" alt="lily" style="width: 40%; height:auto;  display:block;
    margin:auto;">
</div>
<div class="interview">
  <p class="interviewer">JL: What's your year, major, semester in SUSA, and where are you from?
</p>
  <p class="interviewee">CC: I’m a 2nd year studying CS and data science.
    It’s my 3rd semester in SUSA and I’m from Dublin California.</p>

  <p class="interviewer" style="margin-top:30px;">JL: How's the semester been going?</p>
  <p class="interviewee">CC: It’s been solid. Pretty chill. </p>

  <p class="interviewer">JL: What classes are you in?</p>
  <p class="interviewee">CC: CS 170 and 188. </p>

  <p class="interviewer">JL: Why’d you decide to join SUSA?</p>
  <p class="interviewee">CC: I wanted to explore statistics, but when I was in CX I
    learned ml as well as some surprisingly pleasant non-statistics stuff which convinced me to stay.</p>

  <p class="interviewer">JL: What major were you thinking of when you came to Cal?</p>
  <p class="interviewee">CC: Applied math.</p>

  <p class="interviewer">JL: Why did you change from applied math?</p>
  <p class="interviewee">CC: I took 61a and like the thinking process used to solve
    these kinds of problems. Math wasn’t showing me this stuff. It was a lot more
    theoretical – cs was a lot more tangible.</p>

  <p class="interviewer">JL: Are you in any other clubs?</p>
  <p class="interviewee">CC: I'm in Codeology and I’m a candidate for UPE. </p>

  <p class="interviewer">JL: What's UPE?</p>
  <p class="interviewee">CC: It’s the cs honor’s society.</p>

  <p class="interviewer">JL: When did you join Codeology?</p>
  <p class="interviewee">CC: Second semester freshman year.</p>

  <p class="interviewer" style="margin-top:30px;">JL: What do you do in Codeology?</p>
  <p class="interviewee">CC: A variety of things. I’m co-director of member relations.
    I’ve been a project leader, a workshop leader, and soon to be vice president.
    We’re focused on the fundamental mission of the club: helping people find their fit in technology.  </p>

  <p class="interviewer">JL: Anything else you want to say about general Cal life?</p>
  <p class="interviewee">CC: I was fortunate and glad to be in Cal. Three years ago,
    I was waitlisted. I was about to become a Bruin. And then one day like a month
    later I got an email, said I got in. I changed my mind, and SOI’d to Cal. </p>

  <p class="interviewer">JL: What would you say you do in the education committee?</p>
  <p class="interviewee">CC: So obviously we teach CX and run workshops. But I
    think a really overlooked and under appreciated job we do is develop curriculum,
    often times from scratch. Not this semester, but back when we first had to make
    them it was pretty tough. We made some pretty comprehensive notebooks though.
    And oh yea, we’re trying to get out a DeCal.  </p>

  <p class="interviewer" style="margin-top:30px;">JL: What part of the curriculum did you work on?</p>
  <p class="interviewee">CC: I worked on the python, linear regression, decision tree,
    and pytorch notebooks. I taught them as well. I also helped with the python workshop.
    But this semester I only taught the decision tree portion. </p>

    <p class="interviewer" style="margin-top:30px;">JL: Anything else you want to say regarding the education committee?</p>
    <p class="interviewee">CC: They’re some pretty dope people in the committee.
      It’s been pretty much the same people who stayed the same over past 2 semesters,
      but that might change later for better or for worse.  </p>

    <p class="interviewer" style="margin-top:30px;">JL: What has been your experience meeting SUSA people outside of your committee?</p>
    <p class="interviewee">CC: It’s been pretty limiting not gonna lie.
    I actually meet a lot of people from donut bot, but obviously it’s
    hard to keep up contact with them if there’s no common interest or anything like that.</p>

    <p class="interviewer" style="margin-top:30px;">JL: Do you want to have better connections with other people in the club?</p>
    <p class="interviewee">CC: I’m the social chair for codology, so I see this problem
      on a smaller but a bit more depressing scale. Basically, it takes a lot of
      effort and commitment from the club to make people connect with each other. </p>
      <p> So, like for SUSA for example: a more robust big little system and maybe a
        family program. I think we tried to have done that in the past but not really
        since it didn’t really work out. Like the inter committee brawl sounded cool –
        competition always makes people get more engaged, ya know? But stuff like this
        is the key to make “socialness” better. I’ve had first hand experience trying to
        increase connectedness.
 </p>

      <p class="interviewer" style="margin-top:30px;">JL: What changes did you implement in Codeology then? </p>
      <p class="interviewee">CC: A lot of this depends on what the club is about and what its values are. In codology we value a lot of things but the one thing I value the most is the community. I feel that if you ask people what part of this x club you like the most, it’s nice to hear them say community. It’s ok to hear them say stuff about wanting to be smarter, wanting to make professional connections, etc. but what I think it’s really nice to hear that they want to find a small place for them to fit in at Cal. </p>
      <p> But we realized that if we wanted to make community a top priority,
        we had to make strong structural changes. Our big-little system; it
        may not be the most structured or strongest out there, but it’s something
        we continually invest in and develop. We have project groups which are like
        small SUSA committees you can imagine of like 4-6 people. Lots of different
        socials with some equality in being wet and dry. Trying to reach out to less active members.</p>
<p>Ultimately so long as everyone has at least one point of continuity or connection
  to someone else in the club, then we can come together as a club. </p>

        <p class="interviewer" style="margin-top:30px;">JL: Anything else you want to say regarding SUSA in general? </p>
        <p class="interviewee">CC: Almost everything I learned about ML, I learned through SUSA. </p>

        <p class="interviewer" style="margin-top:30px;">JL: Is there anything you want to someone who might be reading this? </p>
        <p class="interviewee">CC: Do we have a SUSA slogan? What's a good slogan?
          Shout out to mom; shout out to dad. I love SUSA - it has taught me a lot.
          SUSA has given me a lot of people I can call close friends and people I
          can rely on. It’s been a place I can grow and hopefully continue to grow. </p>
</div>

<i>The website version of this interview was mildly edited for length and clarity by Abhinav Bhaskar</i>
<br><br>
{% endblock %}
