{% extends "interviews/interview_header.html" %}
{% block content %}
{% load staticfiles %}

<style>
  .interview{
    margin-top:30px;
  }
  .interviewer{
    font-size:20px;
    font-weight:bold;
    margin-bottom:10px;
  }
  .interviewee{
    font-size:20px;
    margin-bottom:30px;
  }
</style>
<title> Irene Wang: "When I have a kid they will be fluent in English, Chinese, and Python"
</title>
<h2>Irene Wang: "When I have a kid they will be fluent in English, Chinese, and Python"
</h2>
  <h3>
    <span style="color: #D5518D" id="author">Interviewed By </span>
    <span style="color: #3E95D7" id="name">Justin Le </span>
    <span style="color: #D5518D" id="author">on April 4th, 2019</span>
  </h3>
  <br />

<div style="display:flex">
  <img src="{% static 'usa_website/images/interviews/spring_2019/irene_wang.jpeg' %}" alt="lily" style="width: 80%; height:auto;  display:block;
    margin:auto;">
</div>
<div class="interview">
  <p class="interviewer">JL: What’s your year major, semester in SAAS, and where are you from?</p>
  <p class="interviewee">IW: I'm a second year statistics major, this is my second semester in SAAS, and I’m from San Diego.</p>

  <p class="interviewer">JL: How’s the semester been going for you?</p>
  <p class="interviewee">IW: It has been pretty tough because my workload increased by a lot. I just declared statistics last semester, and so this semester I was just finishing the last two core classes, stat 133 and 135. But I also realized that statistics is more powerful when you combine it with something else, so I also wanted to explore econ a bit so I am also taking Econ 1 and Data 100 for fun. I also took on a job as a data 8 tutor and that has been super fun. Like I love teaching, I love helping students learn new concepts, and interacting with other members of course staff has been super helpful. <br><br>
  And then I also joined the R&P committee this semester where I'm writing my research report on horse racing. I wanted to be in R&P since I heard of SAAS, and I'm so lucky that I get to be a part of the committee this semester and explore more about probability and gambling haha.</p>

  <p class="interviewer">JL: So first why’d you decide on econ as your mix with stats?</p>
  <p class="interviewee">IW: So like this semester I was recruiting for summer internships really hard and at first I tried doing more software stuff but like, even though programming is really fun, doing interviews was extremely difficult for me. And as the recruiting season advanced I realized I was applying to more and more to business/econ related companies. I actually enjoyed studying for those interviews more because econ concepts come more naturally to me than computer science concepts do. <br><br>
  I also noticed that they asked some econ questions that I had not learned about yet, but the questions all sounded very interesting because I do enjoy thinking about the way people behave in the way they handle their money. So I want to do econ because it would help me get these business data analyst positions that I want but also because it is just so interesting to me.</p>

  <p class="interviewer">JL: What part of econ specifically do you enjoy or became interested in?</p>
  <p class="interviewee">IW: I like looking at the way people shop and the way we can manipulate which products people buy based on the way we present products on an commerce website.<br>
  I really love shopping and I am always looking for the best deals, and I want to be able to help both the seller make money and the buyer in getting the most competitive price.</p>

  <p class="interviewer">JL: That’s one way to look at it.</p>
  <p class="interviewee">IW: [Laughs], is that not the right way?</p>

  <p class="interviewer">JL: I don’t think there’s a right way. Whatever motivates you. What are your thoughts on CS then?</p>
  <p class="interviewee">IW: Compsci is super lucrative for sure; I came into Berkeley wanting to do computer science because I knew that there would be lots of job opportunities for me once I graduated, but programming was such a steep learning curve for me, and while I did complete all of the lower division computer science classes and did pretty well in them, it was a real struggle.<br><br>
  But I still plan to cluster in computer science with my statistics major because statistics is becoming more and more computational. I usually joke that when I have a kid they will be fluent in English, Chinese, and Python [Laughs]<br>
  But like yeah it's super useful no matter what I decide to do because computer literacy is becoming a skill that is almost necessary.</p>

  <p class="interviewer">JL: Interesting, no R?</p>
  <p class="interviewee">IW: Python is more versatile and R is very easy to pick up so yeah I pick Python [Laughs again]</p>

  <p class="interviewer">JL: Can you go more into working as a data 8 tutor?</p>
  <p class="interviewee">IW: Working as a data 8 tutor for sure is the highlight of my semester!
  I got to help a lot of students in office hours and answer questions that I had struggled with before and it feels really good to pass knowledge down. I also get to teach a small tutoring section of three students with another TA, and starting next week I get to teach one on my own and I am really excited about that.<br><br>
  Teaching is super fun because it doesn't really feel like work to me. I feel like even though I am explaining concepts to students, I am also gaining a deeper understanding of the concepts myself because not all students understand things in the same way as I do, so I had to exercise a lot of creativity to explain things in different ways so that they would understand the new concepts<br><br>
  I also enjoy seeing students' progress as they go from never having programmed before to being able to use the data science library. I get to see them learn the statistical concepts that I love so much haha.<br><br>
  I feel like Data 8 was my favorite class when i was taking it so I want to be able to give them an opportunity to experience data science and love it as much as I do because it combines two very important skills: statistics and computer science and I for sure continue to use the concepts from Data 8 in my statistics classes and in interviewing for internships.</p>

  <p class="interviewer">JL: Is this your first time/experience teaching in general?</p>
  <p class="interviewee">IW: I have been a private tutor in algebra since middle school and tutored AP Calculus in high school and then when I came to Berkeley I joined another club called Anova, which is a computer science teaching club where I got to team up with other computer science students and teach the basics of python to under-resourced high schoolers.<br><br>
  I also have a little sister who is only 3 years younger than me, and I would teach her a lot of math, physics, and english as she went through middle school and high school.</p>

  <p class="interviewer">JL: Are you still in anova?</p>
  <p class="interviewee">IW: I am not.</p>

  <p class="interviewer">JL: Are you in any extracurriculars at CAL other than SAAS?</p>
  <p class="interviewee">IW: I’m part of a Christian fellowship called InterVarsity CCF but other than that, course staff, and SAAS that is it haha.</p>

  <p class="interviewer">JL: What’s intervarsity been like?</p>
  <p class="interviewee">IW: I LOVE intervarsity!<br><br>
  I am generally a very academic/professional minded girl who puts the traditional view of success as my main priority. but going to fellowship helps me step back from all of that it forces me to take a break from all the work I am doing and remember that my first priority should always be God and that God loves me and will always take care of me even when I feel helpless.<br><br>
  I like that it keeps my perspective broader than just myself too. For me it is very easy to get wrapped up in the culture here of racing for the best grades, the most prestigious internships and research, and doing things for the sake of making a lot of money in the future. My fellowship allows me to focus more on my relationship with God and how I can use the gifts that God gave me to serve others.</p>

  <p class="interviewer">JL: Onto r&p. You mentioned horse racing earlier; could you elaborate on that?</p>
  <p class="interviewee">IW: I grew up near a horse racing track, so my parents would take my sister and I to go watch the races. We would never bet on anything, but I would watch other people bet. There was this one time when someone won $1000 and I was here like WOW this is an opportunity for EASY MONEY haha. And that experience stuck with me because I too want to be able to make money without having to work that much.<br><br>
  But it is actually much more complex than that: there are many factors that go into horse racing, like the breed of the horse, the weight of the jockey, the weather, etc. and it is very difficult to predict which horse will win. <br><br>
  In my project I want to see if I can make an algorithm to predict the winners of horse races, and I want to see how that algorithm works under certain 'dumb strategies' that my sister and I thought of when we were small, like choosing the horse with the cutest name or your tallest one.</p>

  <p class="interviewer">JL: Could you elaborate more on your algorithm?</p>
  <p class="interviewee">IW: [Laughs again] I am having a lot of trouble with it right now so it's not completely fleshed out yet, but essentially a Gaussian naive Bayes approach.</p>

  <p class="interviewer">JL: What do you think are the reasons why you're having trouble with the project?</p>
  <p class="interviewee">IW: I had to read a lot about horse racing, I also hadn't really learned how to implement linear regression in R yet.</p>

  <p class="interviewer">JL: Did you learn anything interesting about horse racing in your reading?</p>
  <p class="interviewee">IW: I learned that horse racing is American, and originally in Europe the horses ran clockwise on the track, and now they run counterclockwise to match the US. I also learned that when horses get injured they get put down instead of getting treatment.<br><br>
  There is a lot of probability involved with predicting winning horses, like it is not as straightforward as I thought it would be.</p>

  <p class="interviewer">JL: What do you mean by probability?</p>
  <p class="interviewee">IW: I thought that maybe horses would follow some known distribution, but a lot of horse races vary a lot in their distributions. There are so many factors that go into a horse winning that a lot of advanced probability calculations need to be done in order to find their odds of winning.</p>

  <p class="interviewer">JL: How do you imagine your project will look like when you're done?</p>
  <p class="interviewee">IW: I hope it looks good [Laughs a lot]. I don't really know what it will look like at the moment, but I am working on making the regression lines right now. I do intend to put in lots of graphs and write detailed explanations of each one, and also include some of my code chunks so that people can see my thought process and maybe contact me later if I made some errors.</p>

  <p class="interviewer">JL: So you've been in SAAS for 2 semesters, how has your experience been like?</p>
  <p class="interviewee">IW: Well in class I feel super at home because a lot of statistics majors are also Chinese girls, but they are Chinese girls from China and I’m a Chinese girl from the America, so talking to them sometimes can be a bit difficult. <br><br>
  I like being in SAAS because there are a lot of American girls like me in the club that I get to interact with and talk to. I like being surrounded by people who love statistics as much as I do and who can offer me advice on classes, professional development, and research opportunities. I also like how everyone in this club is so nice and inviting, and i feel comfortable being myself around you guys.<br><br>
  I like how even though everyone is really smart there is a really chill attitude at socials and how people in this club make me laugh a lot. Going to the socials makes me really happy because it gets me away from the stress of school and I get to hang out with really cool people.</p>

  <p class="interviewer">JL: Where would you say you met people in SAAS outside your committee?</p>
  <p class="interviewee">IW: I went to a lot of SAAS events in the beginning of the semester; like I helped table and met new friends doing that. I went to social events like game nights and boba trips and donut bot. Oh and I ate dinner with you guys a few times like at the hamburger store and the spaghetti store.
  Also quite a few SAAS members are also on course staff, so I got to meet more people in Data 8 also.</p>

  <p class="interviewer">JL: Do you have anything else you want to say regarding SAAS in general?</p>
  <p class="interviewee">IW: I’m really glad that I joined SAAS this is a really awesome community and I am super grateful to be a part of it.</p>

  <i class="interviewer" style="font-weight:normal;">Interviewer's note: I gave a head’s up and got permission to ask the following questions beforehand</i>

  <p class="interviewer" style="margin-top:30px;">JL: As someone majoring in a math/stats/cs related field, have you ever felt discriminated or slighted against or otherwise negative experience that you felt was due to gender?</p>
  <p class="interviewee">IW: Well I did have a few onsite interviews where I was the only girl interviewing and that felt really unpleasant, but I guess I have to deal with it.<br><br>
  I felt it more when I was taking computer science classes - but after switching to statistics I don’t feel that way at school anymore. Mostly when I go outside of school and go interview is when I feel a bit of awkwardness. Especially when you are taking a company tour with the rest of the people who are interviewing, and they are all wearing their flat leather shoes and you are wearing heels and the floor is tile and your feet make so much noise.<br><br>
  But in general, I feel like people have been treating me respectfully when it comes to stats; maybe it’s because there are more girls in stats than in cs.<br><br>
  But I remember clearly in cs class we had a partner project and my partner and I would work on it together really well, until he found out I would never date him and then he dropped off the face of the earth.
  but other than that, there haven't been many negative experiences other than the occasional interruptions, like when I am speaking up quite a few times men in the class would interrupt me and that kinda is like ouch. But I get to finish my point after they're done.
  So like eh.</p>

  <p class="interviewer">JL: Do you have any thoughts regarding the culture in these fields with relation to gender?</p>
  <p class="interviewee">IW: I generally felt like a lot of cs boys just were completely misogynistic against their female classmates and that made me sad. But like in statistics classes there are a lot of women, so we don’t have that problem.<br><br>
  I feel like the stem culture in the statistics major is actually super healthy because it inspires me to do better because I’m around so many intelligent girls, and the boys either don’t talk to us or treat us fairly. Most of the time.<br><br>
  Maybe ask them not to interrupt us when we are asking questions in class? That’s about it though.</p>

  <p class="interviewer">JL: Is there anything you would like to say to anyone who might be reading this, regarding pretty much anything?</p>
  <p class="interviewee">IW: I guess to always remember that there is more to life than just working and studying all the time. I know that I struggle with that a lot - and I want to remind people that its ok and necessary to take breaks when you need it. Also thank them for making the SAAS community so special to me!</p>
</div>

<i>The website version of this interview was mildly edited for length and clarity by Abhinav Bhaskar</i>
<img src="{% static 'usa_website/images/interviews/spring_2019/susa_banner.png' %}" alt="lily" style="width: 80%; height:auto;  display:block; margin:auto; margin-top:40px;">
{% endblock %}
