{% extends "interviews/interview_header.html" %}
{% block content %}
{% load staticfiles %}

<style>
  .interview{
    margin-top:30px;
  }
  .interviewer{
    font-size:20px;
    font-weight:bold;
    margin-bottom:10px;
  }
  .interviewee{
    font-size:20px;
    margin-bottom:30px;
  }
</style>

<title> Megan Zu: “Bad Merlin. Good Oberon.”</title>
<h2>Megan Zu: “Bad Merlin. Good Oberon.”</h2>
  <h3>
    <span style="color: #D5518D" id="author">Interviewed By </span>
    <span style="color: #3E95D7" id="name">Justin Le </span>
    <span style="color: #D5518D" id="author">on April 16th, 2019</span>
  </h3>
  <br />

<div style="display:flex">
  <img src="{% static 'usa_website/images/interviews/spring_2019/megan_zu.jpeg' %}" alt="lily" style="width: 80%; height:auto;  display:block;
    margin:auto;">
</div>
<div class="interview">
  <p class="interviewer">JL: What’s your year, major, what semester is this for you in SUSA, and where are you from?
</p>
  <p class="interviewee">MZ: I'm a second semester freshman - second semester in SUSA, and I'm from Toronto Canada, but I grew up in China.</p>

  <i style="font-size:18px;">Editor's note: Megan was in Web Dev at the time of this interview, and has since become a Web Dev Director for Fall 2019.</i>

  <p class="interviewer" style="margin-top:30px;">JL: That's pretty international. Why did you decide on Cal?</p>
  <p class="interviewee">MZ: In high school, I wanted to be a business major, and Cal was one of the few schools with a business undergrad. It's pretty ironic though, considering I’m no longer a business major. </p>

  <p class="interviewer">JL: Before we go further, I wanted to ask since it's a bit rare to get a hold of an international student, what do you feel is different here than other places you've lived? </p>
  <p class="interviewee">MZ: Hmmm… well, both places I’ve lived in are big cities: Toronto and Shenzhen, so it has always been the busy big city life for me. Berkeley has more of a small city feel to me, and I quite enjoy it the weather is also hella a lot better if you know Canadian weather.</p>

  <p class="interviewer">JL: I can imagine it’s a bit colder.</p>
  <p class="interviewee">MZ: 3/4 of the year is winter. The rest is construction season.</p>

  <p class="interviewer">JL: What do you mean by construction season?</p>
  <p class="interviewee">MZ: Haha everything breaks in the winter because of the cold, so they use the 1/4 of the year that's not freezing to fix everything. Hence construction none stop.</p>

  <p class="interviewer">JL: Ah ok. Why did you want to be a business major?</p>
  <p class="interviewee">MZ: In high school I did a lot of business related extra curriculars, I enjoyed them, so I thought I wanted to do business as a major. However, in college, I discovered that I'm not really that passionate about business management and that I liked economics and data analysis better, so I switched majors after the first semester.</p>

  <p class="interviewer">JL: What did you prefer about economics and data analysis?</p>
  <p class="interviewee">MZ: I like economics better because it’s more math based. I've always been more interested in the financial side of business, so economics was a better fit for me. I discovered I like data analysis after joining SUSA - I'm not too sure why but I enjoy doing it!</p>

  <p class="interviewer">JL: You said it’s your second semester in SUSA, that means you joined your first semester at Cal - What was that like?</p>
  <p class="interviewee">MZ: I was in CX for the first semester, so it was a lot of learning. I found it really interesting though, and it definitely motivated me to delve deeper in to data science. I also really liked the community in SUSA and that's a large reason why I stayed.</p>

  <p class="interviewer">JL: Did you try out any other clubs?</p>
  <p class="interviewee">MZ: Ye, I was in a financial paper writing club first semester. I didn't really like it mainly because they didn't give me much support for writing the paper. This semester I'm in UEA, which is the Undergraduate Economics Association. The committee I'm in focuses on presenting current economic affairs and discussing it. I find it very interesting because you've got all these different perspectives and you're able to discuss interesting topics with people who have unique insights.</p>

  <p class="interviewer">JL: Can you talk about what you're specifically working on for your paper for UEA?</p>
  <p class="interviewee">MZ: I have my presentation next week actually. Oh for UEA it's not papers it's weekly presentations. Every person in the committee has to present at least once. I've presented once in an economic salon about deglobalization My presentation next week is going to be on the housing bubble in Toronto - its causes, current status and future estimations. </p>

  <p class="interviewer">JL: That sounds like a lot of work in a semester.</p>
  <p class="interviewee">MZ: <i>[Laughs]</i>, I still find time to procrastinate so it's not that bad.</p>

  <p class="interviewer">JL: What was your earlier deglobalization presentation about?</p>
  <p class="interviewee">MZ: It was on the current trend of anti-globalization, like with Brexit and the policies passed by Trump. The presentation was around an hour and presented by me and 4 other people.</p>

  <p class="interviewer">JL: So, onto web dev. A lot of people aren't too sure of what it is web dev does. What would you say you do in web dev?</p>
  <p class="interviewee">MZ: I'm on the blog redesign team in web dev. so what our team is working on is to redesign the blog format on our website. We will try to do some design changes to the other pages as well if we have time. Another portion of the web dev team is working on data visualization which is where you take data and display it in a really cool way. For example: the data visualization done for the housing crisis project. </p>

  <p class="interviewer">JL: So, web dev has a project based setup. Can you talk about your plans on redesigning the blogs? </p>
  <p class="interviewee">MZ: Well the plan is pretty simple, draw out a design and figure out how to code it. For the new format, we want it to be cleaner, neater and more elegant looking. We referenced several sites and came up with a design already. We broke down the elements we need to change/code and now we are working on changing the css and javascript to make the drawing into a digital website.</p>

  <p class="interviewer">JL: Web dev's pretty famous for its Avalon game nights. Is that a new tradition and who's idea was that?</p>
  <p class="interviewee">MZ: <i>[Laughs again]</i>, lol that's an old tradition. I’m not sure actually - Abhinav? It was already pretty established when I joined. </p>

  <i style="font-size:18px;">Editor's Note: I didn't start Avalon, it was taught to me by two seniors when I was a Freshman, Curtis Tang and (I think) Donovan Lieu, I just popularized it in subsequent semesters. Since then, it's become a webdev tradition.</i>

  <p class="interviewer" style="margin-top:30px;>JL: Do you play Avalon?</p>
  <p class="interviewee">MZ: Oh yes. Avid player. Most of web dev is [Laughs again].</p>

  <p class="interviewer">JL: What do you like about it</p>
  <p class="interviewee">MZ: It's a lot of mind games: you can bluff and fake.</p>

  <p class="interviewer">JL: Do you have any tips for Avalon you’d like to share?</p>
  <p class="interviewee">MZ: Bad Merlin. Good Oberon.</p>

  <i style="font-size:18px;">Editor's note: Yes. </i>

  <p class="interviewer" style="margin-top:30px;>Do you have an idea of what the other teams are working on in web dev? can you share any juicy secrets?</p>
  <p class="interviewee">MZ: Haha I’m not too sure. I just know in general there are 3 teams working on 3 separate data visualization projects.</p>

  <i class="interviewer" style="font-weight:normal;">Interviewer's note: I gave a head’s up and got permission to ask the following questions beforehand</i>

  <p class="interviewer" style="margin-top:30px;">JL: As a woman in a stem field have you ever felt discriminated/slighted against or had an otherwise negative experience that you thought was related to gender?</p>
  <p class="interviewee">MZ: Not yet I suppose. But I think that is mostly because I haven't left the safe haven of the school yet. I have yet to begin looking for internships or working. I've been mainly focused on school, where there is less discrimination. I'll get back to you on that question when I join the work force.</p>

  <p class="interviewer">JL: Do you have any thoughts on culture in stem fields in regards to gender?</p>
  <p class="interviewee">MZ: I think we should definitely work on getting more women in to stem fields and put in more effort in supporting women in stem fields.</p>

  <p class="interviewer">JL: Do you have anything else you would like to say to anyone who might be reading this?</p>
  <p class="interviewee">MZ: If you are a woman in stem and experience discrimination, don't give up! Fight back and prove to them that we are no less than any other person in the field. [That] is how we can build a culture in stem supporting and helping women.</p>
</div>

<i>The website version of this interview was mildly edited for length and clarity by Abhinav Bhaskar</i>
<img src="{% static 'usa_website/images/interviews/spring_2019/susa_banner.png' %}" alt="lily" style="width: 80%; height:auto;  display:block; margin:auto; margin-top:40px;">
{% endblock %}
