{% extends "interviews/interview_header.html" %}
{% block content %}
{% load staticfiles %}

<style>
  .interview{
    margin-top:30px;
  }
  .interviewer{
    font-size:20px;
    font-weight:bold;
    margin-bottom:10px;
  }
  .interviewee{
    font-size:20px;
    margin-bottom:30px;
  }
</style>

<title> Oscar Syu: “…being able to see the scale and size of some the data we would
  deal with and being able to do a project without much structure the same way you
  get in class”</title>
<h2>Oscar Syu: “…being able to see the scale and size of some the data we would
  deal with and being able to do a project without much structure the same way
  you get in class”</h2>
  <h3>
    <span style="color: #D5518D" id="author">Interviewed By </span>
    <span style="color: #3E95D7" id="name">Justin Le </span>
    <span style="color: #D5518D" id="author">on April 26th, 2019</span>
  </h3>
  <br />

<div style="display:flex">
  <img src="{% static 'usa_website/images/interviews/spring_2019/rachel_li.jpeg' %}" alt="lily" style="width: 40%; height:auto;  display:block;
    margin:auto;">
</div>
<div class="interview">
  <p class="interviewer">JL: What's your year, major, semester in SUSA, and where are you from?
</p>
  <p class="interviewee">OS: I’m a junior studying data science and economics in
    my 6th semester in SUSA and I’m from Palo Alto!</p>

  <p class="interviewer" style="margin-top:30px;">JL: Palo Alto's been a pretty
    common response, but people say different things about it. What do you think
    Palo Alto is like?</p>
  <p class="interviewee">OS: Ya, Palo Alto is an interesting place to grow up in.
    It's in the middle of Silicon Valley and it's heavily influenced by the tech
    industry. So, it’s pretty affluent and driven by innovation, but with that
    comes a good amount of competition.  Growing up, I was surrounded by that
    technologically driven culture and it influenced the career choices and
    aspirations I have today.  I definitely recognize that it’s a privileged place
    to live and I’m super grateful to have that kind of upbringing. </p>

  <p class="interviewer">JL: As a sixth semester member in SUSA that would mean
    you're among the most veteran members in the club. What were your thoughts
    on joining SUSA that time ago?</p>
  <p class="interviewee">OS: Right. Well I joined at the time because I didn't
    really know what to do. I knew the president at the time and I was a business
    major at the time and thought that SUSA was a great community and wanted to
    check it out. So, then I joined to see what it was about, and I enjoyed my
    time enough to stick around.</p>

  <p class="interviewer">JL: A lot of the newer members don’t know about the older
    days of the club back when the club wasn't even called SUSA and when Sandra was
    president. Could you describe any differences from back then and SUSA now?</p>
  <p class="interviewee">OS: It was a lot smaller of a club and it was more niche based.
    Just a group of people who really enjoyed stats and nerded out over that.
    That kind of small community was nice, but not like today where we have so
    many different committees and opportunities to pursue your interests. I think
    also the focus has changed from just being a small group to being an organization
    that aims to influence and impact the greater statistics and data science community.
    For example, like CX was just a few workshops, but today it's basically a full blown course now.</p>

  <p class="interviewer">JL: When did you notice changes were occurring, or what
    was that changing process like as someone who was there?</p>
  <p class="interviewee">OS: After my freshman year. When Arun became president,
    we decided to shift the club towards today's focus.  It coincided with the
    rise in the data science program and movement, which was nicely timed since
    the club basically exploded in size because of shift in direction.</p>

  <p class="interviewer">JL: Econ's not a common double major among SUSA members;
    what are your thoughts on the major?</p>
  <p class="interviewee">OS: It's a good one - I primarily picked it because I
    found it really fascinating and saw how data science is applicable to economics
    in that it’s very model driven.  I really enjoy the theories that explain the
    relationships behind markets and society.  It’s interesting to me to be able to
    use a quantitative lens to view the underpinnings that drive our society.</p>

  <p class="interviewer">JL: Do you have anything else you want to say regarding
    general life at Cal and or your interests?</p>
  <p class="interviewee">OS: I’m also a TA for Data 8, which is something I’ve done for a while.
    I really enjoy it!</p>

  <p class="interviewer">JL: What has your experience been like being a TA?</p>
  <p class="interviewee">OS: Really rewarding and I really enjoy being able to share
    and break down concepts for students. It's a great class and I'm glad I get to
    introduce students to the foundations of data science. </p>

  <p class="interviewer">JL: Onto DC, what dc group are you in and could you describe
    what your group is doing?</p>
  <p class="interviewee">OS: MTC. Our project was to make an interactive map displaying
    the future of the bay area until 2050 and look at their forecasts and see what
    kind of insights we can find.</p>

  <p class="interviewer" style="margin-top:30px;">JL:What has it been like working on the project?</p>
  <p class="interviewee">OS: It's been fun - Junseo is a great director; the team
    is really great, and I've had fun playing around with the data. It’s really
    interesting and I love public transportation so it’s been a great fit for me.</p>

  <p class="interviewer">JL: What data analysis techniques or concepts have you been
    using to create the map?</p>
  <p class="interviewee">OS: I'm not on the map team but I've been basically doing
    a lot of data visualizations. So just looking at trends and seeing if there's
    anything we can visualizing pulling out or calculating differences between the
    various futures MTC is projecting. </p>

  <p class="interviewer">JL: Well during the time you were working on it what would
    you say you got out of your experience or what did you learn? </p>
  <p class="interviewee">OS: Just being able to work on a project and being able
    to see the scale and size of some the data we deal with.  I loved that I was
    able to do a project without much of the structure you get in class.
    Setting our own goals, learning how to use AWS , and applying techniques
    in a real world setting has been very valuable.</p>

  <p class="interviewer" style="margin-top:30px;">JL: Do you have anything else you
    want to say about your dc group/project? </p>
  <p class="interviewee">OS: It’s a great group! I had a good time and I'm glad I did it. </p>

    <p class="interviewer" style="margin-top:30px;">JL:Onto general SUSA -
      going back to what you mentioned earlier having been in the club for 6 semesters
      and seeing the changes it has gone through what are your thoughts on SUSA’s
      structure and how it is now?</p>
    <p class="interviewee">OS: I think it's really great. We've definitely grown
      as a group and have a huge campus presence. I like that we do a lot to create
      a community of people who like data science and stats and want to use it for
      different purposes. I think it certainly is a big club and it take effort to
      get to know people, but I think it's incredible that we have so many talented
      and amazing people.  </p>

    <p class="interviewer" style="margin-top:30px;">JL: WWhat are your thoughts on
      your interaction with people outside your committee?</p>
    <p class="interviewee">OS: It's been good - Donutbot has been great. Getting
      to know people is really great and being able to hang out with them is awesome.
      Club dinners are also fun so overall it’s been a great time.</p>

    <p class="interviewer" style="margin-top:30px;">JL: Do you have changes or things
      you’d want to be different about SUSA or things you prefer from how SUSA used to be?</p>
    <p class="interviewee">OS: I guess I do miss the more close knit community
      we used to have, which is a natural thing to diminish as the club grows.
      It’s a little hard to know everyone in the club but I’ve still been able to
      make a lot of friends!</p>

      <p class="interviewer" style="margin-top:30px;">JL: Do you have anything else
        you would like to say to anyone reading this? </p>
      <p class="interviewee">OS: Join SUSA because it's a great organization with 
        incredibly smart and kind people and it has helped me define a career path.
        Take advantage of the many events and don't be afraid to reach out to folks
        in the club, inside or outside your committee! </p>

<i>The website version of this interview was mildly edited for length and clarity by Rachel Li</i>
<br><br>
{% endblock %}
