{% extends "header.html" %}
{% block content %}
{% load staticfiles %}
<style>
.AttendanceContainer{
  margin-right: 10%;
  margin-left: 10%;
  margin-top:5%;
  margin-bottom:5%;
}

.StudentIDLookupContainer {
  margin-top:0%;
}

.Events {
  border-radius: 25px;
  border: 2px solid #E7F3FB;
  background: #E7F3FB;
  padding: 25px;
  width: 33%;
  height: auto;
  text-align: left;
  margin-top:2%;
}

.PointSummary {
  border-radius: 25px;
  border: 2px solid #FBEBF5;
  background: #FBEBF5;
  padding: 25px;
  width: 33%;
  height: auto;
  text-align: left;
  margin-top:2%;
}

input{
  display: inline;
  margin: 0 5px 0 5px;
  padding:2px 2px 2px 2px;
}
label{
  size: 15px;
}
iframe{
  overflow: hidden;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
}
.AttendanceContainer p,b{
  font-size: 16px;
}
#fh5co-footer p,#fh5co-footer b{
  font-size: 12px;
}
button{
  background: #268BD2;
  color:white;
  padding: 3px 7px;
  border-radius: 30px;
}
/* Idk why IVP formatted it so weirdly, but some text appears white. The following is to change all text in the spreadsheet to black */
.ritz.waffle.s2{
  color:black;
}
.check{
  font-size: 20px !important;
}

@media screen and (max-width: 600px) {
  .AttendanceContainer p,b,ul,li, i{
    font-size: 8px;
  }
  .AttendanceContainer h2{
    font-size: 16px;
  }
  .check{
    font-size: 12px !important;
  }
}
</style>

<div class="AttendanceContainer" ">
    <h1 style="text-align:center;">Attendance</h1>
    <p>
      SAAS members can get points by going to events/activities. Each event is worth
      1 point. There is no points threshold or requirement at the end of the semester.
      Instead, points will be considered in the reapplication process for next semester.
    </p>

    <h2 style="text-align: center;">Check your points below!*</h2>
      <b>Our <b>IVP committee</b> is in charge of updating and keeping track of points. </b>
      <b>Please contact us at contact@saas.berkeley.edu
        if you spot any inaccuracies. Please note that if you have not come to an event yet OR have not told
          IVP your SID, we do not have your SID in our database and you will be unable
          to use this tool. </b><br><br>

</div>

<div class = "StudentIDLookupContainer" ><center>
   <h2>Please Enter Student ID</h2>

    <form method="POST">
      {% csrf_token %}
      {{ form }}
      <button type="submit" style="display:inline;">Submit</button>
    </form>
    <br>

  <div class = "PointSummary">
    <h3 style="  text-align: center;">Point Summary</h3>
    <p>Student ID: {{ text }}</p>
    <p>Total points: {{ points }}</p>
  </div>

 <!--Please see AttendanceView in views.py to understand what is going on here-->
<!--<div style="overflow-x:auto;" >
    <p class = "Events">Total points: {{ points }}</p>-->

    <div class = Events>

      <h3 style="  text-align: center;">Events Attended</h3>

      <div>
        {% for l in events_lst %}
        <p>{{l}}</p>
        {% endfor %}
      </div>

    </div>


  </center>
<br><br><br>
</div>

</body>


<!--
{"web":{"client_id":"165095989395-7fkdr6dqglkcuielg0n1qs5mubh34k8e.apps.googleusercontent.com","project_id":"attendance-217704","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://www.googleapis.com/oauth2/v3/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_secret":"g20559YTnG-wmP5n--vNE3hH","redirect_uris":["http://127.0.0.1:8000/","http://localhost:8080/","http://saas.berkeley.edu/attendance.html","http://saas.berkeley.edu/attendance.py","http://saas.berkeley.edu/attendance","https://saas.berkeley.edu/attendance.html","https://saas.berkeley.edu/attendance", "http://127.0.0.1:8000/attendance","http://127.0.0.1:8000/attendance.html"],"javascript_origins":["http://saas.berkeley.edu","http://127.0.0.1:8000"]}}
-->

<!-- <b>Our <b>IVP committee</b> is in charge of updating and keeping track of points. </b>
<b>All points are updated as of 5/2. Please contact us at contact@saas.berkeley.edu if you spot any inaccuracies.</b>


<br /><br />
<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRrYs74IwG7Ihnd5obhSFMog4ovzdDrTEeyCKOCSxuatRDUbCqXJMcV3GM7a-s1gMzVAgUoH5slaGVu/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false" style="width:100%; height:500px; color:black;"></iframe>
-->

<!-- Taking out until we absolutely need to fix this, use the embedded sheet for now.-->


{% endblock %}
