
{% extends "header.html" %}
{% block content %}
{% load staticfiles %}

<!-- scroll button -->
<script src="../../static/usa_website/js/scroll-down.js"></script>
<!-- smooth scroll -->

    <div class="container">

    </div>
    <aside id="fh5co-hero" class="js-fullheight" >
        <div class="flexslider " style="height:100% !important;">
          <div class="background-overlay animated fadeInUp">
            <div class="container">
                <div class="col-md-12 text-center js-fullheight slider-text">
                    <div class="slider-text-inner">
                        <h2>Career Exploration Committee</h2>
                        <br>
                        <div>
                            <center>
                                <a href="#fh5co-blog-section">
                                    <img alt="Arrow Down Icon" src="https://www.solodev.com/assets/anchor/arrow-down.png" style="width:75px; height:75px">
                                </a>
                            </center>
                        </div>
                    </div>
                  </div>
                </div>
          </div>
            <ul class="slides" style="height:100%;">
              <li style="background-image: url({% static 'usa_website/images/careerex/featured/sp19_banquet.jpg' %});"></li>
            <li style="background-image: url({% static 'usa_website/images/careerex/featured/confused_alex.jpg' %});"></li>
            <li style="background-image: url({% static 'usa_website/images/careerex/featured/jessica_huang_talk.jpg' %});"></li>
            </ul>
        </div>
    </aside>

    <div id="fh5co-blog-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center fh5co-heading">
                    <h2>Career Exploration</h2>
                    <p>The Career Exploration Committee is designed to build a strong statistics and data science foundation among its members. As a member of the committee you will participate in a weekly lecture and get the chance to work on team projects that apply the concepts taught in lecture. Towards the end of the semester, you will compete in a committee-wide Kaggle data analysis competition, allowing you to showcase your newfound knowledge of machine learning techniques including linear regression, random forests, and neural networks.
                  </p>
                </div>
            </div>
            </div>
        </div>
    </div>

    {% endblock %}
