
{% extends "header.html" %}
{% block content %}
{% load staticfiles %}
<style>
   #photos {
      /* Prevent vertical gaps */
      line-height: 0;
      -webkit-column-count: 5;
      -webkit-column-gap:   0px;
      -moz-column-count:    5;
      -moz-column-gap:      0px;
      column-count:         5;
      column-gap:           0px;
   }
   #photos img {
     /* Just in case there are inline attributes */
     width: 100% !important;
     height: auto !important;
   }
</style>

<!-- scroll button -->
<script src="../../static/usa_website/js/scroll-down.js"></script>
<!-- smooth scroll -->

    <div class="container">

    </div>
    <aside id="fh5co-hero" class="js-fullheight" >
        <div class="flexslider " style="height:calc(100% - 80px) !important;">
          <div class="background-overlay animated fadeInUp">
            <div class="container">
                <div class="col-md-12 text-center js-fullheight slider-text">
                    <div class="slider-text-inner">
                        <h2 style="font-weight: 100;">Career Exploration</h2>
                        <br>
                        <div>
                            <center>
                                <a href="#fh5co-blog-section">
                                    <img alt="Arrow Down Icon" src="{% static 'usa_website/images/arrow_down.png' %}" style="width:75px;">
                                </a>
                            </center>
                        </div>
                    </div>
                  </div>
                </div>
          </div>
            <ul class="slides" style="height:100%;">
              <li style="background-image: url({% static 'usa_website/images/careerex/featured/sp19_banquet.png' %});"></li>
            <li style="background-image: url({% static 'usa_website/images/careerex/featured/confused_alex.png' %});"></li>
            <li style="background-image: url({% static 'usa_website/images/careerex/featured/jessica_huang_talk.png' %});"></li>
            </ul>
        </div>
    </aside>

    <div id="fh5co-blog-section">

                <div class="col-md-6 offset-md-3 col-sm-6 offset-sm-3 col-10 offset-1 text-center fh5co-heading cxHead">

                    <p>The Career Exploration Committee is designed to research good bois and give them treats. You can view some doggos below.</p>
                  <!--build a strong statistics and data science foundation among its members. As a member of the committee you will participate in a weekly lecture and get the chance to work on team projects that apply the concepts taught in lecture. Towards the end of the semester, you will compete in a committee-wide Kaggle data analysis competition, allowing you to showcase your newfound knowledge of machine learning techniques including linear regression, random forests, and neural networks.-->
                </div>

        </div>
    </div>
    <section id="photos" ></section>


<script>
    function getRandomSize(min, max) {
  return Math.round(Math.random() * (max - min) + min);
}
var allImages = "";
for (var i = 0; i < 25; i++) {
  var width = getRandomSize(200, 400);
  var height =  getRandomSize(200, 400);
  allImages += '<img src="https://placedog.net/'+width+'/'+height+'" alt="pretty doggo">';
}
$('#photos').append(allImages);
</script>
    {% endblock %}
