{% extends "header.html" %}
{% block content %}
{% load staticfiles %}

<style>
  div.main {
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
	}
  }
</style>

<body>
  <div class="main">

    <h1> Data 8: Foundations of Data Science </h1>

    <h3> Overview </h3>
    <p>
      The UC Berkeley Foundations of Data Science course (listed as COMPSCI/STAT/INFO C8 and commonly called “Data 8”) combines three perspectives: inferential thinking, computational thinking, and real-world relevance. Given data arising from some real-world phenomenon, how does one analyze that data so as to understand that phenomenon? The course teaches critical concepts and skills in computer programming and statistical inference, in conjunction with hands-on analysis of real-world datasets, including economic data, document collections, geographical data, and social networks. It delves into social issues surrounding data analysis such as privacy and design.
      </p>
    <p> Units: 4 </p>
      <h4> Prerequisites </h4>
        <p> None. </p>

    <h3> Average Difficulty Rating (from SAAS members) </h3>
    <p> <strong>1.67</strong> out of <strong>5</strong> <p>

    <h3> Content </h3>
    <p> Topics covered: table manipulation and handling, visualisation, coding, hypothesis testing, statistical analysis, and classification </p>

    <h3> Why should you take this course? </h3>
    <p> In a world in which we’re surrounded by data, this course enables you to combine that data with Python programming skills to ask questions and explore problems that you encounter in any field of study, in a future job, and even in everyday life. </p>

    <h3> Testimonials </h3>

      <h4> How was your experience in this class?</h4>
      <p><i> "It was a fun introduction to basic programming concepts and statistics." </i></p>
      <p><i> "The class was well structured and moved at a comfortable pace. It was a good class to take first semester to ease my transition into college courses." </i></p>
      <p><i> "Dope." </i></p>

      <h4> How many hours per week did you spend on the class (outside of lecture, discussion, etc.)? </h4>
      <p><i> "2 hours for homework, 5 hours for projects" </i></p>
      <p><i> Approximately 6 hours per week </i></p>

      <h4> What is this class useful for? </h4>
      <p><i> "Statistics fundamentals, Python syntax" </i></p>
      <p><i> "It was a good, gentle introduction to basic coding and stats concepts, and can help you decide if you're interested in further pursuing data science!" </i></p>
      <p><i> "Literally anything and everything" </i></p>

      <h4> When should students take this course? </h4>
      <p><i> "As soon as possible for anyone interested in Data Science." </i></p>
      <p><i> "Freshman year" </i></p>
      <p><i> "As early as possible" </i></p>

      <h4> What advice do you have for people taking this class in the future? </h4>
      <p><i> "Start projects early, study for the long exams." </i></p>
      <p><i> "I took notes on the demo Jupyter Notebook, which I found to be really helpful since I could have code AND text in one place." </i></p>

    <!-- <h3> Additional Notes </h3>
    <p> <!-- Insert additional notes here, like SAAS members' workload, instructors, etc. </p> -->

  </div>
</body>




{% endblock %}
