
{% extends "header.html" %}
{% block content %}
{% load staticfiles %}

<!-- scroll button -->
<script src="../../static/usa_website/js/scroll-down.js"></script>
<!-- smooth scroll -->



    <div class="container">

    </div>
    <aside id="fh5co-hero" class="js-fullheight" >
        <div class="flexslider " style="height:calc(100% - 80px) !important;">
          <div class="background-overlay animated fadeInUp">
            <div class="container">
                <div class="col-md-12 text-center js-fullheight slider-text">
                    <div class="slider-text-inner">
                        <h2 style="font-weight: 100;">Education</h2>
                        <br>
                        <div>
                            <center>
                                <a href="#fh5co-blog-section">
                                    <img alt="Arrow Down Icon" src="{% static 'usa_website/images/arrow_down.png' %}" style="width:75px;">
                                </a>
                            </center>
                        </div>
                    </div>
                  </div>
                </div>
          </div>

            <ul class="slides" style="height:100%">
            <li style="background-image: url({% static 'usa_website/images/education/featured/sp19_banquet.png' %});"></li>
            <li style="background-image: url({% static 'usa_website/images/education/featured/fa18_banquet.png' %});"></li>
            </ul>
        </div>
    </aside>



    <div id="fh5co-blog-section">

        <div class="row">
                <div class="col-md-6 offset-md-3 col-sm-6 offset-sm-3 col-10 offset-1 text-center fh5co-heading educationHead">
                    <p>The primary purpose of the Education Committee (ED) is to
                      provide a weekly lecture and enriching projects to the
                      Career Exploration Committee. We also host workshops that
                      are open to the entire campus community on topics ranging
                      from Resume Building to PyTorch.</p>
                    <br/>
                </div>
        </div>

        <div class="container">

        <div class="row">
            <h1 class = "CX" align = "left">Past Materials</h1>
        </div>

        <div class="row" >
            <div class="col-lg-4 col-md-6 col-sm-9">
                <a href="https://github.com/SUSA-org/Fall-2019-Career-Exploration" class="item-grid-edu">
                    <div class="v-align">
                        <div class="v-align-middle">
                            <h3 class="title">Career Exploration Lectures Fall 2019</h3>

                            <h5 class="date"><span>Education Committee
                                <br> Fall 2019</span></h5>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-9" >
                <a href="https://github.com/SUSA-org/Spring-2019-Career-Exploration" class="item-grid-edu">
                    <div class="v-align">
                        <div class="v-align-middle">
                            <h3 class="title">Career Exploration Lectures Spring 2019</h3>

                            <h5 class="date"><span>Education Committee
                            <br> Spring 2019</span></h5>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-9" >
                <a href="https://github.com/SUSA-org/Fall-2018-Career-Exploration" class="item-grid-edu">
                    <div class="v-align">
                        <div class="v-align-middle">
                            <h3 class="title">Career Exploration Lectures Fall 2018</h3>

                            <h5 class="date"><span>Education Committee
                                <br>Fall 2018</span></h5>
                        </div>
                    </div>
                </a>
            </div>

        </div>


      </div>
    </div>

{% endblock %}
