{% extends "webdevheader.html" %}
{% block content %}
{% load staticfiles %}
<div class="container-fluid">
  <div id="top">
  	<h3 style="margin-top:20px;">HALL OF MEMES</h3>
  	<h4><span style="color: #D5518D" id="author">PM:</span><span style="color: #3E95D7" id="name"> Rustum Chhor and Friends</span></h4>
  	<br>
  </div>
  <div id="memes">
    <div class="row" style="justify-content:center;">
      <img src="{% static 'usa_website/images/meme/memeries.PNG' %}" style="padding-left:10px;padding-right:10px;">
      <img src="{% static 'usa_website/images/meme/memeries1.PNG' %}" style="padding-left:10px;padding-right:10px;">
    </div>
    <div class="row" style="justify-content:center;">
      <img src="{% static 'usa_website/images/meme/memeries2.PNG' %}" style="padding-left:10px;padding-right:10px;">
      <img src="{% static 'usa_website/images/meme/memeries3.PNG' %}" style="padding-left:10px;padding-right:10px;">
    </div>
    <div class="row" style="justify-content:center;">
      <img src="{% static 'usa_website/images/meme/memeries4.PNG' %}" style="padding-left:10px;padding-right:10px;">
    </div>
  </div>
</div>

{% endblock %}
