{% extends "header.html" %}
{% block content %}
{% load staticfiles %}

<style>
	div.main {
		text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
	}
	}
</style>

<body>
	<div class="main">

		<h1> Math 1A </h1>

		<h3> Overview </h3>
		<p> This sequence is intended for majors in engineering and the physical sciences. An introduction to differential and integral calculus of functions of one variable, with applications and an introduction to transcendental functions. </p>
		<p> Units: 4 </p>
		<h5> Prerequisites </h5>
		<p> Three and one-half years of high school math, including trigonometry and analytic geometry. Students with high school exam credits (such as AP credit) should consider choosing a course more advanced than 1A </p>

		<!-- <h3> Average Difficulty Rating (from SAAS members) </h3>
		<p> <strong><!-- Insert avg. rating - -></strong> out of <strong>5</strong> <p>

		<h3> Testimonials </h3>
			<h4> How was your experience in this class?</h4>
			<p><i> <!-- Insert testimonials as quotes - -> </i></p>

			<h4> How many hours per week did you spend on the class (outside of lecture, discussion, etc.)? </h4>
			<p><i> <!-- Insert testimonials as quotes - -> </i></p>

			<h4> What is this class useful for? </h4>
			<p><i> <!-- Insert testimonials as quotes - -> </i></p>

			<h4> When should students take this course? </h4>
			<p><i> <!-- Insert testimonials as quotes - -> </i></p>

			<h4> What advice do you have for people taking this class in the future? </h4>
			<p><i> <!-- Insert testimonials as quotes - -> </i></p>

			<h3> Additional Notes</h3>
			<p> <!-- Insert additional notes here, like SAAS members' workload, instructors, etc. - -> </p> -->

		</div>
	</body>




	{% endblock %}
