{% extends "header.html" %}
{% block content %}
{% load staticfiles %}

<style>
	div.main {
		text-align: center;
	}
</style>

<body>
	<div class="main">

		<h1> Math 1B </h1>

		<h3> Overview </h3>
		<p> Continuation of Math 1A. Techniques of integration; applications of integration. Infinite sequences and series. First-order ordinary differential equations. Second-order linear ordinary differential equations. </p>
		<p> Units: 4 </p>
		<h5> Prerequisites </h5>
			<p> 1A, N1A, or equivalent. </p>

		<h3> Average Difficulty Rating (from SAAS members) </h3>
		<p> <strong><!-- Insert avg. rating --></strong> out of <strong>5</strong> <p>

		<h3> Testimonials </h3>
			<h4> How was your experience in this class?</h4>
      <p><i> <!-- Insert testimonials as quotes --> </i></p>

      <h4> How many hours per week did you spend on the class (outside of lecture, discussion, etc.)? </h4>
      <p><i> <!-- Insert testimonials as quotes --> </i></p>

      <h4> What is this class useful for? </h4>
      <p><i> <!-- Insert testimonials as quotes --> </i></p>

      <h4> When should students take this course? </h4>
      <p><i> <!-- Insert testimonials as quotes --> </i></p>

      <h4> What advice do you have for people taking this class in the future? </h4>
      <p><i> <!-- Insert testimonials as quotes --> </i></p>

	<h3> Additional Notes</h3>
	<p> <!-- Insert additional notes here, like SAAS members' workload, instructors, etc. --></p>

	</div>
</body>



{% endblock %}
