
{% extends "header.html" %}
{% block content %}
{% load staticfiles %}

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'usa_website/css/style.css' %}" >
<link rel="stylesheet" type="text/css" href="{% static 'usa_website/css/people.css' %}" >
</head>

<div class="container" style="margin-top:5%;">
  <div class="row">
    <div class="col text-center fh5co-heading">
      <h1 style="text-align:left">Executive Team</h1>
          <p>The Student Association for Applied Statistics is led by a group of statistics enthusiasts who have great passion for promoting the statistics major to all students in UC Berkeley. They come from different backgrounds and are interested in different areas within statistics. Hover over the pictures to learn more about our execs!</p>
    </div>
  </div>

<!--PROBLEM: PERSON-CONTAINER SEEMS TO BE THE ENTIRE THING, INCLUDING NAME AND POSITION, want it to be same height as image-->
<!--MAILTO ICONS AREN'T WORKING :(-->
<!--ALSO LIKE GET EVERYTHING ON THE SAME LINE :(-->
  <div class ="row">
    <div class="col fh5co-staff text-center" style="flex-basis:25%;flex-grow:0;">
        <div class="person-container">
          <img class="person-img" src="{% static 'usa_website/images/people/directors/sp20/caro_cropped.jpg' %}"
          alt="Caroline" style="width:100%; height:auto;">
            <div class="person-overlay">
                <p>Caroline is currently a junior majoring in Statistics and Data Science. This is her fifth semester in SAAS, and she is interested in the application of data analysis in business. She likes drinking coffee and playing with her two dogs. Also, Python > R > Excel.<br>
                <a href="mailto:carolinejchen@berkeley.edu" ><i class="icon-envelope"></i></a>
                <a href="https://www.linkedin.com/in/caroline-j-chen"><i class="icon-linkedin"></i></a>
              </p></div>
          </div>
        <h3>Caroline Chen</h3>
        <h3>President</h3>

  </div>

    <div class="col fh5co-staff text-center" style="flex-basis:25%;flex-grow:0;">
      <div class="person-container">
          <img class="person-img" src="{% static 'usa_website/images/people/directors/sp20/elysia.jpg' %}" alt="Elysia" style="width:100%; height:auto;">
          <div class="person-overlay">
          <p>Elysia is a second year studying Data Science and Applied Mathematics. This is the second semester she’s been involved in the IVP committee. She is passionate about entrepreneurship and data science education, especially as it relates to equity in the Bay Area. In her free time, she enjoys hiking, running, and reading contemporary novels.
<br>
          <a href="mailto:elysiagao@berkeley.edu" style="margin-left:22.5%;"><i class="icon-envelope"></i></a>
        </p></div>
          </div>
          <h3>Elysia Gao</h3>
          <h3>Internal VP</h3>
      </div>

    <div class="col fh5co-staff text-center" style="flex-basis:25%;flex-grow:0;">
      <div class="person-container">
          <img class="person-img" src="{% static 'usa_website/images/people/directors/sp20/andre_cropped.jpg' %}" alt="Andre" style="width:100%; height:auto;">
            <div class="person-overlay">
            <p>Andre is a third year statistics and economics major. This is his 6th semester in SAAS. He works with high-growth startups on developing go-to-market strategies. He thinks ggplot is very useful. His quirks include collecting raw denim, binge watching Saturday Night Live, and hoarding Chipotle napkins.
<br>
          <a href="mailto:andrenguyensha@berkeley.edu"><i class="icon-envelope"></i></a>
        </p></div>
            </div>
          <h3>Andre Sha</h3>
          <h3>External VP</h3>

  </div>

  <div class="col fh5co-staff text-center" style="flex-basis:25%;flex-grow:0;">
      <div class="person-container">
          <img class="person-img" src="{% static 'usa_website/images/people/directors/sp20/luke_cropped.jpg' %}" alt="Luke" style="width:100%; height:auto;">
            <div class="person-overlay">
              <p>Luke is a junior Computer Science major and Statistics minor. He is passionate about deep learning and all he knows how to do is plugging and chugging python code from Stack Overflow and Medium. Other than eating, drinking and dreaming about neural nets, he enjoys spending time discovering new things about the world and playing board games with anyone!
<br>
            <a href="mailto:luke.dai@berkeley.edu"><i class="icon-envelope"></i></a>
            <a href="https://www.linkedin.com/in/luke-dai-42464b12b/"><i class="icon-linkedin"></i></a>
          </p></div>
            </div>
        <h3>Luke Dai</h3>
        <h3>VP of Projects</h3>

    </div>

</div>
<br><br>

<div class="row">
  <div class="col text-center fh5co-heading">
      <h1 style="text-align:left">Director Team</h1>
      <p>The Director team heads SAAS's various committees.
        Hover over the pictures to learn more about our directors!</p>
    </div>
  </div>

  <div class="row">
    <div class="col fh5co-staff text-center" style="flex-basis:25%;flex-grow:0;">
        <div class="person-container">
          <img class="person-img" src="{% static 'usa_website/images/people/directors/sp20/amal_cropped.jpg' %}"
          alt="Amal" style="width:100%; height:auto;">
          <div class="person-overlay">
            <p>Amal is a third year Data Science and Economics double major. This is his second semester in SAAS. In his free time, he loves to read, play basketball, and write. You can catch him watching The Office and eating thai food. <br>
            <a href="mailto:amalbhatnagar@berkeley.edu"><i class="icon-envelope"></i></a>
          </p></div>
            </div>
            <h3>Amal Bhatnagar</h3>
            <h3>Data Consulting Director</h3>

          </div>

          <div class="col fh5co-staff text-center" style="flex-basis:25%;flex-grow:0;">
            <div class="person-container">
              <img class="person-img" src="{% static 'usa_website/images/people/directors/sp20/amanda.jpg' %}"
              alt="Amanda" style="width:100%; height:auto;">
                <div class="person-overlay">
                  <p>Amanda is a fourth year Data Science major. This is her fourth semester in SAAS. She loves trying out all sorts of matcha snacks/lattes, munching on berries, and dancing ballet. 
<br>
                <a href="mailto:amanda_ma98@berkeley.edu"><i class="icon-envelope"></i></a>
                <a href="https://www.linkedin.com/in/mandiema/"><i class="icon-linkedin"></i></a>
              </p></div>
                </div>
                <h3>Amanda Ma</h3>
                <h3>Data Consulting Director</h3>

              </div>

              <div class="col fh5co-staff text-center" style="flex-basis:25%;flex-grow:0;">
                <div class="person-container">
                  <img class="person-img" src="{% static 'usa_website/images/people/directors/sp20/gwyneth_cropped.jpg' %}"
                  alt="Gwyneth" style="width:100%; height:auto;">
                  <div class="person-overlay">
                    <p>Gwyneth is a third year Computer Science student from Singapore. This is her second semester in SAAS. She enjoys cooking and playing mahjong!<br>
                    <a href="mailto:gwynethangxy@berkeley.edu"><i class="icon-envelope"></i></a>
                  </p></div>
                    </div>
                    <h3>Gwyneth Ang</h3>
                    <h3>Data Consulting Director</h3>

                  </div>

    <div class="col fh5co-staff text-center" style="flex-basis:25%;flex-grow:0;">
      <div class="person-container">
        <img class="person-img" src="{% static 'usa_website/images/people/directors/sp20/haoming_cropped.jpg' %}"
        alt="Haoming" style="width:100%; height:auto;">
        <div class="person-overlay">
          <p>Haoming is a second year Computer Science major, and this will be his second semester in SAAS. He’s interested in NLP and Computer Vision. In his free time, he enjoys playing soccer and basketball, drinking boba tea and sleeping.
<br>
          <a href="mailto:mike0221@berkeley.edu"><i class="icon-envelope"></i></a>
        </p></div>
          </div>
          <h3>Haoming Guo</h3>
          <h3>Data Consulting Director</h3>

        </div>
      </div>
      <br><br>

<div class="row" style="justify-content:space-between;">

  <div class="col fh5co-staff text-center" style="flex-basis:25%;flex-grow:0;">
      <div class="person-container">
          <img class="person-img" src="{% static 'usa_website/images/people/directors/fa19/lucas_vertical.jpg' %}" alt="Lucas" style="width:100%; height:auto;">
          <div class="person-overlay">
            <p>Lucas is a junior studying Statistics and Data Science. This will be his third year in the club and was the director for the Data Secrets project last semester. Lucas is particularly interested in NLP and ensemble learning. Outside of statistics, Lucas is a passionate member of Cal Cycling and the Cal Club Tennis team.
<br>
            <a href="mailto:lucasbandarkar@berkeley.edu"><i class="icon-envelope"></i></a>
            <a href="http://www.linkedin.com/in/lucasbandarkar"><i class="icon-linkedin"></i></a>
          </p></div>
            </div>
            <h3>Lucas Bandarkar</h3>
            <h3>Data Consulting Director</h3>

          </div>

    <div class="col fh5co-staff text-center" style="flex-basis:25%;flex-grow:0;">
      <div class="person-container">
        <img class="person-img" src="{% static 'usa_website/images/people/directors/sp20/pengyuan_cropped.jpg' %}"
        alt="Pengyuan" style="width:100%; height:auto;">
        <div class="person-overlay">
          <p>Pengyuan is a second year Computer Science major. This is his third semester in SAAS. He likes running, cooking, playing the guitar and learning random new skills on YouTube. Join him for a Berkeley Marina run or a study session at Moffitt!<br>
          <a href="mailto:pychen9835@berkeley.edu"><i class="icon-envelope"></i></a>
         <a href="https://www.linkedin.com/in/pengyuanchen1998/ 
"><i class="icon-linkedin"></i></a>
        </p></div>
          </div>
          <h3>Pengyuan Chen</h3>
          <h3>Data Consulting Director</h3>

        </div>

  <div class="col fh5co-staff text-center" style="flex-basis:25%;flex-grow:0;">
    <div class="person-container">
      <img class="person-img" src="{% static 'usa_website/images/people/directors/fa19/nicole_vertical.jpg' %}"
      alt="Prince" style="width:100%; height:auto;">
      <div class="person-overlay">
        <p>Nicole is a third year statistics and computer science major :0 She can often be found in her natural habitat of Bechtel 120.<br>
        <a href="mailto:n.zhu5646@berkeley.edu"><i class="icon-envelope"></i></a>
      </p></div>
        </div>
        <h3>Nicole Zhu</h3>
        <h3>Research & Publication Director</h3>

      </div>

<div class="col fh5co-staff text-center" style="flex-basis:25%;flex-grow:0; ">
  <div class="person-container">
    <img class="person-img" src="{% static 'usa_website/images/people/directors/sp20/michael_cropped.jpg' %}"
    alt="Michael" style="width:100%; height:auto;">
    <div class="person-overlay">
      <p>Michael is a second year computer science and applied math major. This is his third semester in SAAS. Find him playing board games like Dominion and dead fighting games like Guilty Gear and ask to play him if you’re interested.<br>
                      <a href="mailto:rykune@berkeley.edu"><i class="icon-envelope"></i></a>
                    </p></div>
                    </div>
                      <h3>Michael Wang</h3>
                      <h3>Research & Publication Director</h3>

                  </div>
              </div>
              <br>
              <br>

    <div class="row" style="justify-content:space-between;">
       <div class="col fh5co-staff text-center" style="flex-basis:25%;flex-grow:0;">
          <div class="person-container">
             <img class="person-img" src="{% static 'usa_website/images/people/directors/sp20/aishani_cropped.jpg' %}" alt="Aishani" style="width:100%; height:auto;">
                <div class="person-overlay">
                    <p>Aishani is a sophomore studying computer science. This is her third semester being involved with R&P; outside of academics, she also likes to teach, play with Photoshop, and roam the aisles of Whole Foods. <br>
                      <a href="mailto:aishani.sil@berkeley.edu"><i class="icon-envelope"></i></a>
                    <a href="https://www.linkedin.com/in/aishanisil/"><i class="icon-linkedin"></i></a>
                    </p></div>
                    </div>
                    <h3>Aishani Sil</h3>
                      <h3>Research & Publication Director</h3>

                  </div>

                  <div class="col fh5co-staff text-center" style="flex-basis:25%;flex-grow:0;">
                    <div class="person-container">
                    <img class="person-img" src="{% static 'usa_website/images/people/directors/sp20/ashley.jpg' %}" alt="Ashley" style="width:100%; height:auto;">
                    <div class="person-overlay">
                    <p>Ashley is a freshman studying Statistics. This is her second semester in SAAS. In her free time, she enjoys trying out new baking recipes, going on Trader Joe’s runs, hiking, and binge watching Grey’s Anatomy and Youtube. <br>
                    <a href="mailto:ashley_zhang@berkeley.edu"><i class="icon-envelope"></i></a>
                    <a href="linkedin.com/in/ashley-zhang-4059b4159"><i class="icon-linkedin"></i></a>
                  </p></div>
                    </div>
                    <h3>Ashley Zhang</h3>
                      <h3>Career Exploration Director</h3>
                  </div>

                  <div class="col fh5co-staff text-center" style="flex-basis:25%;flex-grow:0;">
                    <div class="person-container">
                    <img class="person-img" src="{% static 'usa_website/images/people/directors/sp20/mary.jpg' %}" alt="Mary" style="width:100%; height:auto;">
                    <div class="person-overlay">
                    <p>Mary is a freshman studying Computer Science. This is her second semester in SAAS. She likes eating ice cream, swimming, and taking Taekwondo classes. She can be mostly found in EE16A and Doe library.<br>
                    <a href="mailto:guozirui2010@berkeley.edu"><i class="icon-envelope"></i></a>
                    <a href="https://www.linkedin.com/in/zirui-mary-guo"><i class="icon-linkedin"></i></a>
                  </p></div>
                    </div>
                      <h3>Mary Guo</h3>
                      <h3>Career Exploration Director</h3>

                  </div>
        
        <div class="col fh5co-staff text-center" style="flex-basis:25%;flex-grow:0;">
                    <div class="person-container">
                    <img class="person-img" src="{% static 'usa_website/images/people/directors/fa19/andrew_vertical.jpg' %}" alt="Andrew" style="width:100%; height:auto;">
                    <div class="person-overlay">
                    <p>Andrew is a senior studying statistics and computer science who works as a Data Scientist in Palo Alto. His favorite language used to be R until he attained enlightenment and converted to Python. He enjoys sharing his path to enlightenment with others by striving to create a more collaborative and compassionate learning community at Berkeley through the Education Committee.
<br>
                    <a href="mailto:andrewr0498@berkeley.edu"><i class="icon-envelope"></i></a>
                  </p></div>
                    </div>
                      <h3>Andrew Rall</h3>
                      <h3>Education Director</h3>

                  </div>
              </div>
    
     <div class="row" style="justify-content:space-between;">
       <div class="col fh5co-staff text-center" style="flex-basis:25%;flex-grow:0;">
          <div class="person-container">
             <img class="person-img" src="{% static 'usa_website/images/people/directors/sp20/linda_cropped.jpg' %}" alt="Linda" style="width:100%; height:auto;">
                <div class="person-overlay">
                    <p>Linda is a sophomore studying Statistics and Computer Science. This will be her second semester in SAAS Web Development Committee. In her free time, she loves to learn about new web technologies and other topics not taught in class. Outside of academics, she likes cooking and exploring new restaurants with friends!<br>
                      <a href="mailto:deng22@berkeley.edu"><i class="icon-envelope"></i></a>
                    </p></div>
                    </div>
                    <h3>Linda Deng</h3>
                      <h3>Web Development Director</h3>

                  </div>

                  <div class="col fh5co-staff text-center" style="flex-basis:25%;flex-grow:0;">
                    <div class="person-container">
                    <img class="person-img" src="{% static 'usa_website/images/people/directors/sp20/rachel_cropped.jpg' %}" alt="Rachel" style="width:100%; height:auto;">
                    <div class="person-overlay">
                    <p>Rachel is a sophomore studying Statistics and Computer Science. When she’s not showing up to every SAAS event, you can find her at the Blue & Gold Yearbook office or being Esh trash. Rachel also loves bullet journaling, taking photos for her food Instagram, and playing board games like Secret Hitler and Avalon <3<br>
                    <a href="mailto:rachelrli@berkeley.edu"><i class="icon-envelope"></i></a>
                  </p></div>
                    </div>
                    <h3>Rachel Li</h3>
                      <h3>Web Development Director</h3>
                  </div>

                  <div class="col fh5co-staff text-center" style="flex-basis:25%;flex-grow:0;">
                    <div class="person-container">
                    <img class="person-img" src="{% static 'usa_website/images/people/directors/fa19/anthony_vertical.jpg' %}" alt="Anthony" style="width:100%; height:auto;">
                    <div class="person-overlay">
                    <p>Anthony is an aspiring computer scientist eager to apply data to produce new solutions. He continues to learn new technologies and the applicability of statistics and data to keep up with the rapid technological development. His other interests include basketball, chess, and climbing the Clash Royale ladder.<br>
                    <a href="mailto:anthonyhsyu@berkeley.edu"><i class="icon-envelope"></i></a>
                  </p></div>
                    </div>
                      <h3>Anthony Yu</h3>
                      <h3>Head Advisor</h3>

                  </div>
        
              </div>
            
      </div>

    {% endblock %}
