{% extends "header.html" %}
{% block content %}
{% load staticfiles %}

<style>
	div.main {
		text-align: center;
	}
</style>

<body>
	<div class="main">

		<h1> Stat 159: Reproducible and Collaborative Statistical Data Science </h1>

		<h3> Overview </h3>
		<p> A project-based introduction to statistical data analysis. Through case studies, computer laboratories, and a term project, students will learn practical techniques and tools for producing statistically sound and appropriate, reproducible, and verifiable computational answers to scientific questions. Course emphasizes version control, testing, process automation, code review, and collaborative programming. Software tools may include Bash, Git, Python, and LaTeX. </p>
		<p> Units: 4 </p>
		<h5> Prerequisites </h5>
			<p> Statistics 133, Statistics 134, and Statistics 135 (or equivalent) </p>

		<h3> Average Difficulty Rating (from SAAS members) </h3>
		<p> <strong>1</strong> out of <strong>5</strong> <p>

		<h3> Testimonials </h3>
			<h4> How was your experience in this class?</h4>
      <i> "It's pretty chill. No exams. Just projects." </i>

      <h4> How many hours per week did you spend on the class (outside of lecture, discussion, etc.)? </h4>
      <i> "Maybe 4" </i>

      <h4> What is this class useful for? </h4>
      <i> "Actually helped me thing more critcally" </i>

      <h4> When should students take this course? </h4>
      <i> "Not before senior year" </i>

      <h4> What advice do you have for people taking this class in the future? </h4>
      <i> "Go to lecture" </i>

	<h3> Additional Notes</h3>
	<p> <!-- Insert additional notes here, like SAAS members' workload, instructors, etc. --></p>

	</div>
</body>



{% endblock %}
