{% extends "header.html" %}
{% block content %}
{% load staticfiles %}

<style>
	div.main {
		text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
	}
	}
</style>

<body>
	<div class="main">

		<h1> Stat 134 </h1>

		<h3> Overview </h3>
		<p> An introduction to probability, emphasizing concepts and applications. Conditional expectation, independence, laws of large numbers. Discrete and continuous random variables. Central limit theorem. Selected topics such as the Poisson process, Markov chains, characteristic functions. </p>
		<p> Units: 4 </p>
		<h5> Prerequisites </h5>
			<p> One year of calculus. </p>

		<h3> Average Difficulty Rating (from SAAS members) </h3>
		<p> <strong>3.67</strong> out of <strong>5</strong> <p>

    <h3> Testimonials </h3>
      <h4> How was your experience in this class?</h4>
      <i> "It's pretty chill. The contents are challenging but, (! with the help of Mike in the adjunct), all the concepts are made crystal clear." </i>
      <i> "Content 8/10, Delivery 5/10" </i>
      <i> "Very difficult. Weekly problem sets that took a while, and a lot of topics to keep up with - in the end I know for fact I didn't retain anywhere close to all of it." </i>

      <h4> How many hours per week did you spend on the class (outside of lecture, discussion, etc.)? </h4>
      <i> "10" </i>
      <i> "8" </i>

      <h4> What is this class useful for? </h4>
      <i> "Probability theory is widely used in all kind of AI/Machine Learning stuffs in CS. Distribution/measure theory is also pivotal for many fields of math."" </i>
      <i> "An intuition of Probability, as its name suggests" </i>
      <i> "Deep dive into probability theory" </i>

      <h4> When should students take this course? </h4>
      <i> "Second semester in freshman year (with solid calculus background), or 1st/2nd semester of sophomore year (can be done concurrently with Math 53)" </i>
      <i> "After basic exposure to statistics (eg. Data 8, Stat 20)" </i>

      <h4> What advice do you have for people taking this class in the future? </h4>
      <i> "Read the textbook and really understand probability theory as a "math of random variable" in the same way as linear algebra as a "math of matrix/linear operator." </i>
      <i> "Take the adjunct course STAT 198, use it as a content backbone" </i>
      <i> "Most of you would probably want Stat 140, but just get ready to spend a good amount of time working for this class." </i>

  <!-- <h3> Additional Notes</h3>
  <p> <!-- Insert additional notes here, like SAAS members' workload, instructors, etc. -- ></p> -->

  </div>
</body>



{% endblock %}
