{% extends "header.html" %}
{% block content %}
{% load staticfiles %}

<style>
	div.main {
		text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
	}
	}
</style>

<body>
	<div class="main">

		<h1> Stat 158: The Design and Analysis of Experiments </h1>

		<h3> Overview </h3>
		<p> An introduction to the design and analysis of experiments. This course covers planning, conducting, and analyzing statistically designed experiments with an emphasis on hands-on experience. Standard designs studied include factorial designs, block designs, latin square designs, and repeated measures designs. Other topics covered include the principles of design, randomization, ANOVA, response surface methodoloy, and computer experiments. </p>
		<p> Units: 4 </p>
		<h5> Prerequisites </h5>
			<p> Statistics 134 and 135 or consent of instructor. Statistics 135 may be taken concurrently. Statistics 133 is recommended. </p>

		<!-- <h3> Average Difficulty Rating (from SAAS members) </h3>
		<p> <strong><!-- Insert avg. rating - -></strong> out of <strong>5</strong> <p>

		<h3> Testimonials </h3>
			<h4> How was your experience in this class?</h4>
      <i> <!-- Insert testimonials as quotes -- > </i>

      <h4> How many hours per week did you spend on the class (outside of lecture, discussion, etc.)? </h4>
      <i> <!-- Insert testimonials as quotes - -> </i>

      <h4> What is this class useful for? </h4>
      <i> <!-- Insert testimonials as quotes -- > </i>

      <h4> When should students take this course? </h4>
      <i> <!-- Insert testimonials as quotes - -> </i>

      <h4> What advice do you have for people taking this class in the future? </h4>
      <i> <!-- Insert testimonials as quotes - -> </i>

	<h3> Additional Notes</h3>
	<p> <!-- Insert additional notes here, like SAAS members' workload, instructors, etc. - -></p> -->

	</div>
</body>



{% endblock %}
