1{% extends "header.html" %}
{% block content %}
{% load staticfiles %}

<style>
	div.main {
		text-align: center;
	}
</style>

<body>
	<div class="main">

		<h1> Stat 140: Probability for Data Science </h1>

		<h3> Overview </h3>
		<p> An introduction to probability, emphasizing the combined use of mathematics and programming to solve problems. Random variables, discrete and continuous families of distributions. Bounds and approximations. Dependence, conditioning, Bayes methods. Convergence, Markov chains. Least squares prediction. Random permutations, symmetry, order statistics. Use of numerical computation, graphics, simulation, and computer algebra. </p>
		<p> Units: 4 </p>
		<h5> Prerequisites </h5>
			<p> tatistics/Computer Science/Information C8, or Statistics/Computer Science C100, or both Stat 20 and Computer Science 61A; and one year of calculus at the level of Mathematics 1A-1B or higher. Corequisite: Mathematics 54, Electrical Engineering 16A, Statistics 89A, Mathematics 110 or equivalent linear algebra </p>

		<h3> Average Difficulty Rating (from SAAS members) </h3>
		<p> <strong>4</strong> out of <strong>5</strong> <p>

		<h3> Testimonials </h3>
			<h4> How was your experience in this class?</h4>
      <i> "It’s hard but it’s so worth it. I leave every lecture thinking my mind is blown" </i>

      <h4> How many hours per week did you spend on the class (outside of lecture, discussion, etc.)? </h4>
      <i> "5" </i>

      <h4> What is this class useful for? </h4>
      <i> "Base — but deep — understanding of statistics" </i>

      <!-- <h4> When should students take this course? </h4>
      <i> <!-- Insert testimonials as quotes - -> </i>

      <h4> What advice do you have for people taking this class in the future? </h4>
      <i> <!-- Insert testimonials as quotes - -> </i>

	<h3> Additional Notes</h3>
	<p> <!-- Insert additional notes here, like SAAS members' workload, instructors, etc. - -></p> -->

	</div>
</body>



{% endblock %}
