{% extends "header.html" %}
{% block content %}
{% load staticfiles %}

<!-- scroll button -->
<script src="../../static/usa_website/js/scroll-down.js"></script>
<!-- smooth scroll -->

    <div class="container">

    </div>
    <aside id="fh5co-hero" class="js-fullheight" >
        <div class="flexslider " style="height:calc(100% - 80px) !important;">
          <div class="background-overlay animated fadeInUp">
            <div class="container">
                <div class="col-md-12 text-center js-fullheight slider-text">
                    <div class="slider-text-inner">
                        <h2>Web Development Committee</a></h2>
                        <br>
                        <div>
                            <center>
                                <a href="#fh5co-blog-section">
                                    <img alt="Arrow Down Icon" src="https://www.solodev.com/assets/anchor/arrow-down.png" style="width:75px; height:75px">
                                </a>
                            </center>
                        </div>
                    </div>
                  </div>
                </div>
          </div>
            <ul class="slides" style="height:100%;">
            <li style="background-image: url({% static 'usa_website/images/avalon.jpg' %});"></li>
            <li style="background-image: url({% static 'usa_website/images/web_dev.jpg' %});"></li>
            </ul>
        </div>
    </aside>

    <div id="fh5co-blog-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center fh5co-heading">
                    <h2>Web Development</h2>
                    <p>The Web Development Committee develops and maintains our club website. Members have the opportunity to apply current web development technologies to publicize the club’s projects and research in addition to developing web applications for various uses.</p>
                </div>
            </div>

            <div class="row">
                <div class="fh5co-heading">
                    <h2>Check out our new Data Visualizations!</h2>
                </div>
            </div>
            <div class="row" >
                <div class="col-md-4 col-sm-4">
                    <a href="{% url 'ucpd_crime' %}" class="item-grid">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">Berkeley UCPD Crime Rates</h3>
                                <h5 class="date"><span>Allison Xu, Rachel Li, Tiffany Lee</span></h5>
                                <h5 class="date"><span>Spring 2019</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-4">
                    <a href="{% url 'hallofmemes' %}" class="item-grid">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">HoM</h3>
                                <h5 class="date"><span>Rustum and Friends</span></h5>
                                <h5 class="date"><span>Spring 2019</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-4">
                    <a href="{% url 'housingcrisis' %}" class="item-grid">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">Housing Crisis</h3>
                                <h5 class="date"><span>Abhinav Bhaskar, Kana Mishra, Kazu Kogachi, Suhas Rao</span></h5>
                                <h5 class="date"><span>Spring 2018</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
                <!--
                <div class="col-md-12 text-center">
                    <p><a href="#" class="btn btn-primary with-arrow">View More Posts <i class="icon-arrow-right"></i></a></p>
                </div>
                -->
      </div>

    {% endblock %}
