{% extends "blog/education/education_header.html" %}
{% block content %}
{% load staticfiles %}
<!--TODO: change url and file name for this post-->
<title> The Anatomy of a Basic Full-Stack Web Application</title>
<h2>The Anatomy of a Basic Full-Stack Web Application</h2>
  <h3>
    <span style="color: #D5518D" id="author">By </span>
    <span style="color: #3E95D7" id="name">Abhinav Bhaskar</span>
  </h3>
  <br />


<div class=Blog_Navigation>
  <ol>
    <li><a href="#Purpose">Purpose</a></li>
    <li><a href="#Frontend">What is a Front End? (Things to Learn)</a></li>
    <li><a href="#Backend">What is a Backend? (Structure of a Basic LAMP Stack)</a></li>
    <li><a href="#Django">So What is Django? (Frameworks)</a></li>
    <li><a href="#Languages">Pros and Cons of Some Backend Languages</a></li>
    <li><a href="#Frontend-Frameworks">Front end Frameworks</a></li>
    <li><a href="#Javascript">Javascript Frameworks</a></li>

  </ol>
</div>
<br></br>
<div id="Purpose">
  <h3> Purpose </h3>
  <p>
    This post in particular will help guide you through Front End vs Backend and hopefully clear up some misconceptions people may have regarding to how they interact and any overlap between the two. We will describe the general structure of frontend vs backend and use the common example of a LAMP stack to briefly illustrate how the back end functions. To fully understand the differences in function between the front end and the backend and get an introduction to web architecture, please visit <b>this blog</b>. Because we already have tutorials on <b>front end development</b>, I will instead provide my opinion on the order in which to learn the languages presented in the front end section. We will also be exploring a few backend languages (Django, Node, PHP) and go over a brief overview of the pros and cons of each one.
  </p>
  <i>
    A brief note: for the remainder of this post, we will assume 'front end' is two words, and 'backend' is  one. There seems to be a lot of variations of the phrase 'front end' on the internet (e.g. front-end, frontend), but for the sake of standardization I will just pick this version and stick with it.
  </i>
</div>
<br/>
<div id= "Frontend">
  <h3> What is a Front End </h3>
    <p>
      To start off, we'll talk about the part of a website you're probably most comfortable with. The <b>Front End</b> of a website is everything the user sees in their browser. Typically we use a mixture of HTML, CSS, and some sort of Javascript to create everything on the front end. I should also note here that technically design prototyping plays a huge role in front-end development so you should also have a working knowledge of UX (user experience) principles and Gimp/Adobe Suite (to quickly prototype page layouts) but we're going to skip over that as it's not my forte.
    </p>
    <p>
      To work on the front end of a site, you should start off by becoming proficient in <b>HTML</b>. HTML tends to be fairly basic with the most important distinction being class vs id. If you want a refresher on that subject, it is covered in our CSS tutorial (Part 2). Everything else is fairly basic and as long as you have a general idea of what you want to code, it shouldn't be too hard to look up the individual tags you need. For a basic overview, please visit <b>our tutorial</b>
    </p>
    <p>
      After you learn HTML, you need to learn <b>CSS</b> to make it look nice. For a brief refresher on what CSS is and what it does, see Part 2 and Part 3. Since there are so many different CSS properties and layouts (e.g. Flexbox, Grid), I would recommend building a few pages and learning the most basic properties first. After that, you should focus on positioning which is the most challenging and important thing you can do with CSS (Learn bootstrap to make this a lot easier). If you're feeling comfortable with that, move on to CSS animations.
    </p>
    <p>
      The last thing you need to know when working on a front end is <b>javascript</b>. Javascript is responsible for most of the interactivity and moving parts you see on websites. Because teaching javascript is such a large task and comprable to teaching Python or some other standard programming language (because it is one), we will not even be attempting to do so in our tutorials. Instead, we will provide some areas to focus on. The important take aways are listed below.
    </p>
    <ul>
      <li><b>Start with Vanillajs</b>. A lot of people learn more complex libraries such as JQuery as a crutch, and will write hard to read or bad code. Learning libraries is not necessarily bad, but save it for after you are comfortable with javascript as a language unless it is absolutely necessary.</li>
      <li><b>Javascript can be object oriented too!</b> Javascript, like other languages such as Python or Java can be object oriented albeit a bit quirky. Learn how to use callbacks and higher order functions.</li>
      <li><b>As of ES6, use 'let' and 'const' to create variables, NOT 'var'.</b> ES6 (also ECMAScript or Javascript 6) is currently the industry standard for writing javascript. Using let will create variables as you would normally expect var to do in other languages such as python, while creating a variable with var inside a function will instead define the variable globally, which may lead to issues. </li>
      <li><b>Speaking of ES6, LEARN ES6!</b> A list of changes can be found <a href="https://www.w3schools.com/js/js_es6.asp">here</a>. The most important and confusing of these changes is probably the introduction of 'arrow functions' which is just a shorthand method of writing anonymous functions.</li>
      <li><b>Understand how to change HTML/CSS with js.</b> You can actually also build entire front ends with just javascript. However your main usage of this will probably involve changing some CSS for an element after a button click, adding an animation to a web page, or modifying a web page based on form information. </li>
    </ul>
    <p>
      Once you have mastered all of the above, you can start learning about different js libraries. Libraries we have used in the past here at SUSA include JQuery for DOM manipulation, leaflet.js for mapping data, and d3.js for data visualization (though I do not recommend jumping <a href="https://medium.com/dailyjs/the-trouble-with-d3-4a84f7de011f">straight into d3</a>). You can also learn some javascript frameworks like React.js (I will introduce frameworks later). The final note I would like to leave you off on for this section is that there are multiple ways of doing things in front end development whether it is adding an action to a button click or positioning images or other elements. Familiarize yourself with all of these methods just in case you have to work on a project where other people have different ways of doing these tasks.
    </p>
</div>
<div id="Backend">
  <h3>What is a Backend?</h3>
  <p>
    Generally speaking, the backend is everything that makes a website run that you can't see. It generally consists of an operating system, a web server, a database, and a server side programming language. You may have heard of a LAMP stack, which stands for:
  </p>
  <ul>
    <li>Linux - The Operating System</li>
    <li>Apache - The Webserver</li>
    <li>Mysql - The Database</li>
    <li>PHP - The Server Side Language</li>
  </ul>
  <p>
    In SUSA's case, the OS (Linux - Debian) and webserver (nginx) are handled by the OCF so we only need to worry about the database and server side language. While we don't currently use a database (or have any plans for one), our server side lanugage is Python. Different server side languages have their own strengths. For example, python is very good at using machine learning on realtime data, though our predecessors here at webdev may have chosen it due to their familiarity with Python through their CS classes. Node.js however, is very good with real-time two way connections between the client and server.
  </p>
  <p>
    So how does a backend work? typically when you enter a url into your browser, it pings a webserver which is hosting a website. From there, it gives the backend instructions on which web pages to render and provides it with any information stored in a database that it would need. For a more in-depth explanation of how exactly the different parts of the stack work together please read <b>this</b>.
  </p>
</div>
<div id="Django">
  <h3>So What is Django? (Frameworks)</h3>
  <p>
    We've gone over the basics of a backend and each individual part, but if you've ever talked to Anthony or me about our website, you may be asking yourself, "Why haven't you mentioned Django yet?" For context, we in webdev like to refer to our backend as a Django backend. This is a bit misleading in that Django is actually a backend Python web <b>framework</b>. We don't typically make this distinction because no one in SUSA really cares besides us and most people who do care can reasonably infer what we mean. In spite of our laziness, if you ever get into web development, it is important to understand what a framework is.
  </p>
  <p>
    A <b>Framework</b> is a package built upon an existing language (e.g. Python) and makes development easier by either making it easier to organize your code or providing tools and shortcuts/solutions for dealing with common development problems. For example, the main role of a backend is to handle http requests and return pages. Now you <i>can</i> code this from scratch every time you build a web application, but Django provides built in methods to serve web pages in a fraction of the time. Backend frameworks also help with using cookies, handling POST and GET requests, and easily organizing your code.
  </p>
</div>
<div id="Languages">
  <h3>Pros and Cons of Some Backend Frameworks</h3>
  <p>
    As mentioned earlier, backend languages assist in many request-related functions. As we will see, this is a main selling point for some frameworks. We'll organize some of the most used frameworks by language first, and them try to explain why you would use any one over another. Fair warning though - I really like node.js.
  </p>

    <h4>Python</h4>
    django template language
    <h4>Node.js</h4>
    <h4>PHP</h4>
    <p>
      PHP as a language has been around for a very long time and for good reason. Created by Rasmus Lerdorf in 1994, PHP was not originally inteded to be a programming language. It was just a script to bind tools together to build a <b>P</b>ersonal <b>H</b>ome <b>P</b>age. But because of a passionate group of developers and its open source nature, it grew in scale and purpose, becoming a very widely used language. Because it was originally hacked together, PHP has a history of being inconsistent with its conventions and having a lot of security flaws which have contributed to its poor reputation throughout the years.
    </p>
    <p>
      However, at the time of this writing (PHP 7.3) PHP is a very fast backend language that also has a very large and established community. Recent additions to the language offer support for anonymous functions and the ability to specify return type declarations. Despite being labled as notoriously hard to learn, the latest versions share surprising similarities in syntax to C and shouldn't be too hard to pick up. The main thing to watch out for when learning PHP is that many of the tutorials you'll find on the web are very outdated. PHP used to suffer from inefficiency and many things from previous versions would now be considered bad practice. The pros and cons of PHP in general are as follows:
    </p>
    <b>Pros</b>
    <ul>
      <li>Very simple to start using</li>
      <li>Lots of database languages are compatible</li>
      <li>PHP developers are always in high demand as it's a very widely used language</li>
      <li>Wordpress is built on PHP</li>
    </ul>
    <b>Cons</b>
    <ul>
      <li>Lots of outdated tutorials</li>
      <li>Scalability requires extensive planning</li>
      <li>Very hard to fully master</li>
      <li>Used to be very bad as a <a href="https://eev.ee/blog/2012/04/09/php-a-fractal-of-bad-design/">language in general (2012)</a></li>
      <li></li>
    </ul>
    <p>
      I want to clarify something regarding the last bullet point for the pros of PHP. Wordpress is a very popular website building tool for non-developers. While it uses PHP for its backend, it also uses PHP to select front end components from its database and plug them directly into the front end. This is because PHP can generate html when used <i>inside</i> a .php file that contains html. Likewise, html can also pass information back to PHP via the traditional POST and GET requests.
    </p>
    <p>
      Admittedly, I don't have too much experience with frameworks outside of Python and Node, but I do have some experience using Laravel.
    </p>
    <h2>Ruby</h2>

</div>
<div id="Frontend-Frameworks">
   <p>
     Yep, frameworks can also help you out in the front end. Front end frameworks are typically used to better structure your code and aid in readability. The only one we will discuss here is Bootstrap as it's the most used.
   </p>
</div>
{% endblock %}
