{% extends "blog/education/education_header.html" %}
{% block content %}
{% load staticfiles %}

<title> Basic Web Architecture (And an Intro to Requests)</title>
<h2>Front End Vs. Backend </h2>
  <h3>
    <span style="color: #D5518D" id="author">By </span>
    <span style="color: #3E95D7" id="name">Abhinav Bhaskar</span>
  </h3>
  <br />


<div class=Blog_Navigation>
  <ol>
    <li><a href="#Purpose">Purpose</a></li>
    <li><a href="#Web-Browsers">Web Browsers and Web Servers</a></li>
    <li><a href="#Definitions">Some Basic Definitions (html, uri, http, request)</a></li>
    <li><a href="#Requests">The Structure of a Request</a></li>
    <li><a href="#Responses">Responses</a></li>
    <li><a href="#Browser">Back to the Browser</a></li>
    <li><a href="#Databases">Adding Databases</a></li>
    <li><a href="#node.js">Getting Complicated with node.js (two way connections)</a></li>
    <li><a href="#Databases">Other stuff (cookies)</a></li>
  </ol>
</div>

<li><a href="#Http-requests">Http requests (POST and GET)</a></li>
<li><a href="#Ajax">What is Ajax and why is it important?</a></li>
