{% extends "blog/rp/rp_header.html" %}
{% block content %}
{% load staticfiles %}

<title>Project Title</title>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'usa_website/css/blogheader.css' %}" 
  />
  <script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</head>
<h1>Project Title</h1>
<h3>
    <span style="color: #D5518D" id="author">By </span>
    <span style="color: #3E95D7" id="name">First Last</span>
  </h3>

<div class="Blog_Nav">
  <ol>
     <!-- FILL IN SECTIONS -->
    <li><a href="#Section1">Section 1</a></li>
    <li><a href="#Section2">Section 2</a></li>
    <li><a href="#Section3">Section 3</a></li>
    <li><a href="#Section4">Section 4</a></li>
    <li><a href="#Section5">Section 5</a></li>
  </ol>
</div>
<br>

<h2>
    <img class = "icon" src="/static/usa_website/images/logos/logo_square.png" style='vertical-align: middle'></img>
    <span style="color: gray" id="author">By </span>
    <span style="color: gray" id="name">First Last</span>
    <span style="color: gray" id="date">- date</span>
  </h2>
<img class = "titlePic" src="{% static 'usa_website/images/blog/rp/spring_2019/personality/titlePic.png' %}" style="margin:auto" /><br><br>

<br>

<div id="Section1">
  <h3>Section 1</h3>
    <p>
      Section 1 text here
      This is how you add an image:
    </p>
    <p>
      You can create multiple paragraphs!
    </p>
    <!-- This is how you add an image! style="margin:auto" centers the image. -->
    <img src="{% static 'usa_website/images/blog/rp/spring_2018/capsim/round7_high.png' %}" style="margin:auto" /><br><br>
</div>

<div id="Section2">
  <h3>Section 2</h3>
    <p>
      Section 2 text here
    </p>
</div>

<div id="Section3">
  <h3>Section 3</h3>
    <p>
      Section 3 text here
    </p>
</div>

<div id="Section4">
  <h3>Section 4</h3>
    <p>
      Section 4 text here
    </p>
</div>

<div id="Section5">
  <h3>Section 5</h3>
    <p>
      Section 5 text here
    </p>
</div>

{% endblock %}
