{% extends "interviews/interview_header.html" %}
{% block content %}
{% load staticfiles %}

<title> Joyce Zheng: “A lot of lower division courses don’t really show you what data science truly is”
</title>
<h2>Joyce Zheng: “A lot of lower division courses don’t really show you what data science truly is”
</h2>
  <h3>
    <span id="author">Interviewed By </span>
    <span id="name">Justin Le </span>
    <span id="author">on March 27th, 2019</span>
  </h3>
  <br />

<div style="display:flex">
  <img class="person-img" src="{% static 'usa_website/images/community/interviews/spring_2019/joyce_zheng.jpeg' %}" alt="joyce">
</div>
<div class="interview">
  <p class="interviewer">JL: So starting with the basics, what’s your year, major, where are you from, and what semester is this for you in SAAS?</p>
  <p class="interviewee">JZ: 1st year, intended data science, from chicagoland, second semester in SAAS.</p>

  <p class="interviewer">JL: How’s the semester been going?</p>
  <p class="interviewee">JZ: It’s been really busy! I’m currently pledging for a frat so it’s been hard to balance everything, but I’m managing haha.</p>

  <p class="interviewer">JL: Can I ask what frat?</p>
  <p class="interviewee">JZ: Alpha phi omega. Service frat.</p>

  <p class="interviewer">JL: So since you’re a first year, do you feel influenced by what you did or were interested in from high school? Do you feel any connection since it’s been relatively recent since you were there?</p>
  <p class="interviewee">JZ: I’ve definitely continued doing a lot of stuff that I was passionate about in high school here at Berkeley. I sort of feel a connection. I say sort of because Berkeley is an entirely new environment, so although I’m a lot of similar things, they do feel different if anything it’s affecting me positively. Like I’m doing stuff that I’m familiar with, but it’s also different.</p>

  <p class="interviewer">JL: Could you elaborate on the stuff you were/are passionate about?</p>
  <p class="interviewee">JZ: I did a lot of community service in high school (Chinese school ta, library volunteering, hospital, etc.), so coming to Berkeley I knew pretty early on that I wanted to get closer to the Berkeley community through service. Badminton was a really huge part of my life in high school, but I stopped playing competitively in college. I think that’s the only major thing that I did in high school that I no longer do. I do go and play recreationally here at Berkeley with my friends though.<br>
  I was the president of national Chinese honor society, so spreading awareness of culture has always been important to me, so that’s why I’m apart of AAA.</p>

  <p class="interviewer">JL: You said your major was data science. That's kind of a new major at Cal - Did you come here knowing you wanted to do data science, or what was that thought process like? </p>
  <p class="interviewee">JZ: I came here wanting to do stats, math, or CS. Data science requires all three, so I figured that I might as well give it a shot.</p>

  <p class="interviewer">JL: Moving towards SAAS, this is your second semester in the club which means you joined your first semester at Cal. That’s not super rare, but it’s also not super common as well. Any thoughts on why you joined SAAS, especially so early on in college?</p>
  <p class="interviewee">JZ: I wanted to get involved in some club/organization that was major-related pretty early on in college just to gain some exposure on stats/data science. I figured that it was the best way to measure how interested I would be in the field. A lot of lower division courses don’t really show you what data science truly is. Also, I wanted to join SAAS because of the community. I really loved the atmosphere and felt the general passion for statistics.</p>

  <p class="interviewer">JL: Onto R&P; what have you been working on?</p>
  <p class="interviewee">JZ: I’m looking at variables and their association with a major league baseball team’s shot at winning the world series. Analyzers traditionally look at factors such as batting average, number of wins/number of loses, so I wanted to branch out and look at some nontraditional variables like opening day payroll, number of all-stars from the previous season each team has, and average length of games.</p>

  <p class="interviewer">JL: Wow to be honest I wasn't expecting that as a topic based on what you've told me so far. Are you a big baseball fan, Moneyball and all that?</p>
  <p class="interviewee">JZ: Haha yes I really like baseball. I just like to watch and follow it.</p>

  <p class="interviewer">JL: That's great. So how’s the project been going?</p>
  <p class="interviewee">JZ: It’s been going pretty well! I found all the data that I need for the time being. I did some data visualization to gain a better insight on what I’m working with, but I haven’t gotten around to actually looking at associations yet. I’m planning on doing that during spring break.</p>

  <p class="interviewer">JL: How do you plan on analyzing the data?</p>
  <p class="interviewee">JZ: I’m going to start off using linear regression, maybe use more complex and higher level methods later, but I think linear regression will be good for what I’m trying to look for.</p>

  <p class="interviewer">JL: It seems like you have everything under control. Did you have any difficulties or struggles?</p>
  <p class="interviewee">JZ: One difficulty would be pandas. I got exposed to it in CX last semester, but it’s one thing to read code that someone wrote for pandas and another to actually implement the code yourself. It’s been a good learning experience though.</p>

  <p class="interviewer">JL: Why did you decide to use pandas; any particular reason?</p>
  <p class="interviewee">JZ: Someone told me that most people use pandas in the workforce, so I figured that I might as well try to learn it now and get myself comfortable with it.</p>

  <p class="interviewer">JL: You mentioned earlier that you liked SAAS for its community and atmosphere and stuff, could you elaborate on that regarding how you felt and what you’ve experienced in the club.</p>
  <p class="interviewee">JZ: The people in SAAS are all passionate about stats. I think it’s cool that I can find all these people in one place. Berkeley is so big that sometimes it can be difficult to find people with similar interests and hobbies as you. Also, SAAS does a good job at balancing stats related stuff and socializing. Donutbots especially foster closer relationships and allow for SAAS members to get to know one another better.</p>

  <p class="interviewer">JL: Glad you’re having fun in the club.</p>
  <p class="interviewee">JZ: Yeet.</p>

  <i class="interviewer" style="font-weight:normal;">Interviewer's note: I gave a head’s up and got permission to ask the following questions beforehand</i>

  <p class="interviewer" style="margin-top:30px;">JL: Do you have any thoughts regarding the culture in these [STEM] fields with relation to gender?</p>
  <p class="interviewee">JZ: Obviously gender inequality is a huge issue especially in tech fields. I guess I don’t really have super opinionated thoughts regarding it at the moment because I haven’t gotten to interact with companies yet.</p>

</div>

<i>The website version of this interview was mildly edited for length and clarity by Abhinav Bhaskar</i>
<br><br>
{% endblock %}
