.container {
    position: relative;
    text-align: center;
    color: black;
  }
  
  /* Newsletters */
  /* Style the Image Used to Trigger the Modal */
  .newsletterImg {
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s;
   margin-left: 5px;
   margin-right:5px;
  }
  
  .newsletterImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  .stripe1 {
    top: 0px;
  }
  .stripe2 {
    top: 20px;
  }
  .blue-stripe {
    left: 0%;
    width: 800px;
    height: 500px;
    opacity: 0.6;
    z-index: -2;
    position: absolute;
    background-image: linear-gradient(45deg, #E7F3FB 0%, #E7F3FB);
    transform:skewY(-5deg);
  }
  .purple-stripe {
    right: 0%;
    width: 800px;
    height: 650px;
    opacity: 0.6;
    z-index: -2;
    position: absolute;
    background-image: linear-gradient(45deg, #FBEBF5 0%, #FBEBF5);
    transform:skewY(10deg);
  }
  
  ​
  /* Modal Content (Image) */
  .modal-content {
   margin: auto;
   display: block;
   width: 80%;
   max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
   margin: auto;
   display: block;
   width: 80%;
   max-width: 700px;
   text-align: center;
   color: #ccc;
   padding: 10px 0;
   height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
   animation-name: zoom;
   animation-duration: .7s;
  }
  
  @keyframes zoom {
   from {transform:scale(0)}
   to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
   position: absolute;
   top: 15px;
   right: 35px;
   color: #f1f1f1;
   font-size: 40px;
   font-weight: bold;
   transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
   color: #bbb;
   text-decoration: none;
   cursor: pointer;
  }
  
  body{
    overflow-x: hidden;
  }
  
  h1 {
    font-weight: 300;
    letter-spacing: 3px;
  }
  
  h2 {
    font-weight: 300;
    letter-spacing: 2px;
  }
  
  .community-container{
    margin: 10%;
    margin-top: 5%;
  }
  
  .community-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .top-left {
    width: 45%;
  }
  
  .top-right {
    width: 45%;
    height: 30%;
    border-radius: 10px;
    transform: rotate(180deg);
  }
  
  #interview-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 1100px;
  }
  
  .interview-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
  }
  
  .interview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    width: 200px;
    height: 450px;
    margin: 25px;
  }
  
  .interview img {
    border-radius: 20px;
  }
  
  .interview-name {
    border-radius: 10px;
    background-color: #E7F3FB;
    text-align: center;
    color: #000;
    font-family: "Avenir Next Light";
  }
  
  .interview-name:hover {
    text-decoration: none;
    background-color: #FBEBF5;
    color: #000;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .interview-quote {
    border-radius: 10px;
    background-color: #FBEBF5;
    height: 110px;
    padding: 5px;
    font-size: 12px;
    display: flex:
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .interview-quote p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 5px;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
   .modal-content {
     width: 100%;
   }
  }
  
  #photos {
     /* Prevent vertical gaps */
     line-height: 0;
     -webkit-column-count: 5;
     -webkit-column-gap:   0px;
     -moz-column-count:    5;
     -moz-column-gap:      0px;
     column-count:         5;
     column-gap:           0px;
  }
  #photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    /*added*/
  
  }
  
  @media (max-width: 1200px) {
    #photos {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
    }
  }
  @media (max-width: 1000px) {
    #photos {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    }
  }
  @media (max-width: 800px) {
    #photos {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    }
  }
  @media (max-width: 400px) {
    #photos {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
    }
  }
  
  .container .light-text {
    color: #fff !important;
  }
  