
{% extends "header.html" %}
{% block content %}
{% load staticfiles %}

<!-- scroll button -->
<script src="../../static/usa_website/js/scroll-down.js"></script>
<!-- smooth scroll -->
<script>

$( document ).ready(function() {
    var heights = $(".item-grid").map(function() {
        return $(this).height();
    }).get(),
    maxHeight = Math.max.apply(null, heights);
    $(".item-grid").height(maxHeight);
});

</script>

    <div class="container">

    </div>
    <aside id="fh5co-hero" class="js-fullheight" >
        <div class="flexslider " style="height:calc(100% - 80px) !important;">
          <div class="background-overlay animated fadeInUp">
            <div class="container">
                <div class="col-md-12 text-center js-fullheight slider-text">
                    <div class="slider-text-inner">
                        <h2 style="font-weight: 100;">Research and Publication</h2>
                        <br>
                        <div>
                            <center>
                                <a href="#fh5co-blog-section">
                                    <img alt="Arrow Down Icon" src="{% static 'usa_website/images/arrow_down.png' %}" style="width:75px;">
                                </a>
                            </center>
                        </div>
                      </div>
                  </div>
                </div>
          </div>
            <ul class="slides" style="height:100%;">
            <li style="background-image: url({% static 'usa_website/images/rp/featured/fa18editors.png' %});"></li>
            </ul>
        </div>
    </aside>



    <div id="fh5co-blog-section">

      <div class="row">
                <div class="col-md-6 offset-md-3 col-sm-6 offset-sm-3 col-10 offset-1 text-center fh5co-heading rpHead">
                    <p>Members will conduct research on a topic of their choosing
                      with the guidance of the directors. The members will have the
                      opportunity to brainstorm, collect data, analyze and write a
                      report on the subject they select at the beginning of the semester.
                      At the end of the semester, the members will have a chance to present
                      their projects at the Research Symposium and the SAAS Banquet!
                      In the past we have presented with clubs like DSS, ML@B and PBL,
                      as well as the Data Consulting committee within SAAS. </p>
                </div>
      </div>

        <div class="container">

            <div class="row">
              <h1 class="rp-title" align="left">Fall 2019</h1>
            </div>

            <div class="row">
               <div class="col-lg-4 col-md-6 col-sm-9">
                    <a href="{% url 'stock_prediction' %}" class="item-grid-rp">
                        <div class="v-align" >
                            <div class="v-align-middle">
                                <h3 class="title">Exploring Predictive Models for Stock Prices</h3>
                                <h5 class="date"><span>Shane Lim<br>Fall 2019</span></h5>
                            </div>
                        </div>
                    </a>
                </div>

            <!-- REPLACE: Michael -->
               <div class="col-lg-4 col-md-6 col-sm-9">
                    <a href="{% url 'fighter_values' %}" class="item-grid-rp">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">The Values of a Fighter</h3>
                                <h5 class="date"><span>Michael Wang<br>Fall 2019</span></h5>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- REPLACE: Ritvik + Kevin -->
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <a href="{% url 'political_bias_digital_media' %}" class="item-grid-rp">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">Fiat Lux: Illuminating Political Bias in Digital Media</h3>
                                <h5 class="date"><span>Ritvik Iyer and Kevin Hsu<br>Fall 2019</span></h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-9">
                    <a href="{% url 'yelp' %}" class="item-grid-rp">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">Analysis of Yelp Reviews</h3>
                                <h5 class="date"><span>Aishani Sil<br>Fall 2019</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- I commented this entire thing out for now so there's no "placeholder" on the website lol
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <a href="{% url 'predicting_horse_races' %}" class="item-grid-rp">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">Project Name</h3>
                                <h5 class="date"><span>First Last<br>Fall 2019</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
    -->
                
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <a href="{% url 'personalized_movie_rating' %}" class="item-grid-rp">
                        <div class="v-align" >
                            <div class="v-align-middle">
                                <h3 class="title">Personalized Movie Rating</h3>
                                <h5 class="date"><span>Aadiraj Batlaw<br>Fall 2019</span></h5>
                            </div>
                        </div>
                    </a>
                </div>

            </div>

            <div class="row">
              <h1 class="rp-title" align="left">Spring 2019</h1>
            </div>

            <div class="row">
               

               <div class="col-lg-4 col-md-6 col-sm-9">
                    <a href="{% url 'women-in-government' %}" class="item-grid-rp">
                        <div class="v-align" style="background-color:#FBEBF5;">
                            <div class="v-align-middle">
                                <h3 class="title">Women in Government</h3>
                                <h5 class="date"><span>Chaitali Mandavia<br>Spring 2019</span></h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-9">
                    <a href="{% url 'winning-the-mlb-world-series' %}" class="item-grid-rp">
                        <div class="v-align" style="background-color:#FBEBF5;">
                            <div class="v-align-middle">
                                <h3 class="title" style="font-size:140%;">Winning the Major League Baseball World Series</h3>
                                <h5 class="date"><span>Joyce Zheng<br>Spring 2019</span></h5>
                            </div>
                        </div>
                    </a>
                </div>

               <div class="col-lg-4 col-md-6 col-sm-9">
                    <a href="{% url 'predicting_horse_races' %}" class="item-grid-rp">
                        <div class="v-align" style="background-color:#FBEBF5;">
                            <div class="v-align-middle">
                                <h3 class="title">Predicting Horse Races</h3>
                                <h5 class="date"><span>Irene Wang<br>Spring 2019</span></h5>
                            </div>
                        </div>
                    </a>
                </div>

               <div class="col-lg-4 col-md-6 col-sm-9">
                    <a href="{% url 'eurovision' %}" class="item-grid-rp">
                        <div class="v-align" style="background-color:#FBEBF5;">
                            <div class="v-align-middle">
                                <h3 class="title">The Musical Chairs of Eurovision</h3>
                                <h5 class="date"><span>Nickan Fayyazi<br>Spring 2019</span></h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-9">
                     <a href="{% url 'fake_news_rp' %}" class="item-grid-rp">
                         <div class="v-align" style="background-color:#FBEBF5;">
                             <div class="v-align-middle">
                                 <h3 class="title" style="font-size:150%;">Political Bias in Mainstream News Media</h3>
                                 <h5 class="date"><span>Lily Bhattacharjee<br>Spring 2019</span></h5>
                             </div>
                         </div>
                     </a>
                 </div>

                 <div class="col-lg-4 col-md-6 col-sm-9">
                      <a href="{% url 'personality' %}" class="item-grid-rp">
                          <div class="v-align" style="background-color:#FBEBF5;">
                              <div class="v-align-middle">
                                  <h3 class="title">Speech Patterns and Personality</h3>
                                  <h5 class="date"><span>Zoe Liu<br>Spring 2019</span></h5>
                              </div>
                          </div>
                      </a>
                  </div>

            </div>

            <div class="row">
              <h1 class="rp-title" align="left">Fall 2018</h1>
            </div>

            <div class="row">
               <div class="col-lg-4 col-md-6 col-sm-9">
                    <a href="{% url 'music_moods' %}" class="item-grid-rp">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title"style="font-size:140%;">Have Sad Bois Taken Over the Radio?:  Music Moods in the US</h3>
                                <h5 class="date"><span>Carlos Ortega<br>Fall 2018</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
               <div class="col-lg-4 col-md-6 col-sm-9">
                    <a href="{% url 'polls' %}" class="item-grid-rp">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title" style="font-size:140%;">Where Polls Are Right and Wrong: Biases and Errors of Opinion Polls</h3>
                                <h5 class="date"><span>Nickan Fayyazi<br>Fall 2018</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <a href="{% url 'league_of_legends' %}" class="item-grid-rp">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title" style="font-size:140%;">Classifying and Analyzing Playstyle in League of Legends</h3>
                                <h5 class="date"><span>Stanley Hsu<br>Fall 2018</span></h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-9">
                    <a href="{% url 'toxic_social_media' %}" class="item-grid-rp">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">Toxic Social Media</h3>
                                <h5 class="date"><span>Gautam Mittal, Adnaan Sachidanandan<br>Fall 2018</span></h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-9">
                    <a href="{% url 'meaning_of_probabilities_in_social_sciences' %}" class="item-grid-rp">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title" style="font-size:140%;">Meaning of Probabilities in Social Sciences</h3>
                                <h5 class="date"><span>Yehchan Yoo<br>Fall 2018</span></h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-9">
                    <a href="{% url 'DIJA' %}" class="item-grid-rp">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title" style="font-size:120%;">Changes in Analyst Stock Ratings Affected DJIA 30 Stocks Daily Performance 2013-2017</h3>
                                <h5 class="date"><span>Jamarcus Liu<br>Fall 2018</span></h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-9">
                    <a href="{% url 'schooling' %}" class="item-grid-rp">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title" style="font-size:140%;">Schooling and Youth Literacy Rate Around the World</h3>
                                <h5 class="date"><span>Aishani Sil<br>Fall 2018</span></h5>
                            </div>
                        </div>
                    </a>
                </div>

            </div>

            <div class="row">
              <h1 class="rp-title" align="left">Spring 2018</h1>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <a href="{% url 'bart_ridership_data' %}" class="item-grid-rp">
                        <div class="v-align" style="background-color:#FBEBF5;">
                            <div class="v-align-middle">
                                <h3 class="title">Bart Ridership Data</h3>
                                <h5 class="date"><span>Nicholas Lai<br>Spring 2018</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <a href="{% url 'capsim' %}" class="item-grid-rp">
                        <div class="v-align" style="background-color:#FBEBF5;">
                            <div class="v-align-middle">
                                <h3 class="title">Capsim</h3>
                                <h5 class="date"><span>Warren Gu<br>Spring 2018</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <a href="{% url 'college_vs_nba_success' %}" class="item-grid-rp">
                        <div class="v-align" style="background-color:#FBEBF5;">
                            <div class="v-align-middle">
                                <h3 class="title" style="font-size:130%;">College Statistics vs Draft and Actual NBA Success Across Different Eras</h3>
                                <h5 class="date"><span>Manan Khattar<br>Spring 2018</span></h5>
                            </div>
                        </div>
                    </a>
                </div>

                  <div class="col-lg-4 col-md-6 col-sm-9">
                      <a href="{% url 'number_concept' %}" class="item-grid-rp">
                          <div class="v-align" style="background-color:#FBEBF5;">
                              <div class="v-align-middle">
                                  <h3 class="title">Number Concept</h3>
                                  <h5 class="date"><span>Andrew Chen, Ruoxi Shang<br>Spring 2018</span></h5>
                              </div>
                          </div>
                      </a>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-9">
                      <a href="{% url 'SteinerTreeProblem' %}" class="item-grid-rp">
                          <div class="v-align" style="background-color:#FBEBF5;">
                              <div class="v-align-middle">
                                  <h3 class="title">Steiner Tree Problem</h3>
                                  <h5 class="date"><span>Ziming Xue, Rigel<br>Spring 2018</span></h5>
                              </div>
                          </div>
                      </a>
                  </div>

                  <div class="col-lg-4 col-md-6 col-sm-9">
                      <a href="{% url 'suicide' %}" class="item-grid-rp">
                          <div class="v-align" style="background-color:#FBEBF5;">
                              <div class="v-align-middle">
                                  <h3 class="title" style="font-size:140%;">Legalization of Euthanasia and Suicide Rate</h3>
                                  <h5 class="date"><span>Yehchan Yoo<br>Spring 2018</span></h5>
                              </div>
                          </div>
                      </a>
                  </div>
            </div>


            <div class="row">
              <h1 class="rp-title" align="left">Fall 2017</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <a href="{% url 'shallow_dive' %}" class="item-grid-rp">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title" style="font-size:140%;">A Shallow Dive into Time Series: Analysis of Local Restaurant Data Using R</h3>
                                <h5 class="date"><span>Kenna Schoeler<br>Fall 2017</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <a href="{% url 'tobacco_heart_disease' %}" class="item-grid-rp">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title" style="font-size:140%;">Heart Disease Mortality Rates and Youth Tobacco Rates</h3>
                                <h5 class="date"><span>Mee Kyoung Seo<br>Fall 2017</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <a href="{% url 'alphago' %}" class="item-grid-rp">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">AlphaGo and Quantifying Go Gameplay</h3>
                                <h5 class="date"><span>Issac Yiu<br>Fall 2017</span></h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-9">
                    <a href="{% url 'rapnet' %}" class="item-grid-rp">
                      <!-- <div class="image" style="background-image: url({% static 'usa_website/images/blog/rapnet.png' %})">
                      </div> -->
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title" style="font-size:140%;">Rapnet: Machine Learning for Hip-Hop Artist Classification</h3>
                                <h5 class="date"><span>Alex Chan<br>Fall 2017</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <a href="{% url 'evol_lyrics' %}" class="item-grid-rp">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">The Evolution of Lyrics</h3>
                                <h5 class="date"><span>Kathleen Qin<br>Fall 2017</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <a href="{% url 'ucb_ug_mental' %}" class="item-grid-rp">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title" style="font-size:120%;">UC Berkeley Undergraduates' General Mental Health and Use of Mental Health Services</h3>
                                <h5 class="date"><span>Shengyi Wu<br>Fall 2017</span></h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-9">
                    <a href="{% url 'world_happiness' %}" class="item-grid-rp">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">World Happiness Report EDA</h3>
                                <h5 class="date"><span>Sydney Yang<br>Fall 2017</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <a href="{% url 'yelp_review' %}" class="item-grid-rp">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <h3 class="title">Yelp Review and Rating Analysis</h3>
                                <h5 class="date"><span>Annabelle Lee<br>Fall 2017</span></h5>
                            </div>
                        </div>
                    </a>
                </div>
              </div>
        </div>
    </div>

    {% endblock %}
