{% extends "header.html" %}
{% block content %}
{% load staticfiles %}

<style>
	div.main {
		text-align: center;
	}
</style>

<body>
	<div class="main">

		<h1> <!-- Insert course name here --> </h1>

		<h3> Overview </h3>
		<p> <!-- Insert summary here (take from course site) --></p>
		<p> Units: <!-- Insert number of units --> </p>
		<h5> Prerequisites </h5>
			<p> <!-- Insert prerequisites here --> </p>

		<h3> Average Difficulty Rating (from SAAS members) </h3>
		<p> <strong><!-- Insert avg. rating --></strong> out of <strong>5</strong> <p>

		<h3> Testimonials </h3>
			<h4> How was your experience in this class?</h4>
      <i> <!-- Insert testimonials as quotes --> </i>

      <h4> How many hours per week did you spend on the class (outside of lecture, discussion, etc.)? </h4>
      <i> <!-- Insert testimonials as quotes --> </i>

      <h4> What is this class useful for? </h4>
      <i> <!-- Insert testimonials as quotes --> </i>

      <h4> When should students take this course? </h4>
      <i> <!-- Insert testimonials as quotes --> </i>

      <h4> What advice do you have for people taking this class in the future? </h4>
      <i> <!-- Insert testimonials as quotes --> </i>

	<h3> Additional Notes</h3>
	<p> <!-- Insert additional notes here, like SAAS members' workload, instructors, etc. --></p>

	</div>
</body>



{% endblock %}
