{% extends "header.html" %}
{% block content %}
{% load staticfiles %}

<style>
	div.main {
		text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
	}
	}
</style>

<body>
	<div class="main">

		<h1> Data 102: Data, Inference, and Decisions </h1>

		<h3> Overview </h3>
		<p> This course develops the probabilistic foundations of inference in data science, and builds a comprehensive view of the modeling and decision-making life cycle in data science including its human, social, and ethical implications. Topics include: frequentist and Bayesian decision-making, permutation testing, false discovery rate, probabilistic interpretations of models, Bayesian hierarchical models, basics of experimental design, confidence intervals, causal inference, Thompson sampling, optimal control, Q-learning, differential privacy, clustering algorithms, recommendation systems and an introduction to machine learning tools including decision trees, neural networks and ensemble methods. </p>
		<p> Units: 4 </p>
		<h5> Prerequisites </h5>
			<p> Mathematics 54 or Mathematics 110 or Statistics 89A or Physics 89 or both of Electrical Engineering and Computer Science 16A and Electrical Engineering and Computer Science 16B; Statistics/Computer Science C100; and any of Electrical Engineering and Computer Science 126, Statistics 140, Statistics 134, Industrial Engineering and Operations Research 172. Statistics 140 or Electrical Engineering and Computer Science 126 are preferred. </p>

		<h3> Average Difficulty Rating (from SAAS members) </h3>
		<p> <strong>3</strong> out of <strong>5</strong> <p>

		<h3> Testimonials </h3>
			<h4> How was your experience in this class?</h4>
      <i> "First semester course is offered. Somethings are kinda hard. But it's very different from stat154 or cs 189" </i>

      <h4> How many hours per week did you spend on the class (outside of lecture, discussion, etc.)? </h4>
      <i> "10"</i>

      <h4> What is this class useful for? </h4>
      <i> "Making decisions from data." </i>

      <h4> When should students take this course? </h4>
      <i> "Senior year"</i>

      <h4> What advice do you have for people taking this class in the future? </h4>
      <i> "Have fun with it." </i>
			<i> "if ur interested in ML I'd recommend taking two of the three (cs189, stat154, data102). You can actually take all three and learn from alll three but taking two of the three is probably your best use of time. My favorites were 189 and 102. 154 is bad sometimes." </i>

	<!-- <h3> Additional Notes</h3>
	<p> <!-- Insert additional notes here, like SAAS members' workload, instructors, etc. - -></p> -->

	</div>
</body>



{% endblock %}
